<slider-pw></slider-pw>
  <slider-portalweb></slider-portalweb>
<div class="contenedor-main-portalweb ">

  <div class=" px-5">
    <h4 class="text-center fw-bold">Gerencia De Desarrollo Económico Y Gestión Ambiental</h4>
    <p>La Gerencia de Desarrollo Económico y Gestión Ambiental es responsable de promover el crecimiento económico sostenible, mientras se asegura de que las actividades económicas sean realizadas de manera responsable y sostenible desde el punto de vista ambiental. Las principales funciones de esta gerencia son:</p>
    <p>Fomentar el desarrollo económico sostenible: La gerencia de desarrollo económico y gestión ambiental trabaja para promover el crecimiento económico sostenible a través de la creación de empleo, la atracción de inversiones y el desarrollo de nuevas empresas. También puede ofrecer apoyo a las empresas ya existentes para ayudarlas a crecer y expandirse.</p>
    <p>Proteger el medio ambiente: La gerencia de desarrollo económico y gestión ambiental es responsable de garantizar que las actividades económicas se realicen de manera responsable y sostenible desde el punto de vista ambiental. Esto puede incluir la implementación de políticas y regulaciones ambientales, la promoción de prácticas sostenibles, y la educación y sensibilización ambiental a la comunidad.</p>
    <p>Promover la innovación y la tecnología sostenible: La gerencia de desarrollo económico y gestión ambiental puede trabajar para fomentar la innovación y el uso de tecnologías sostenibles en la producción y los procesos empresariales. Esto puede incluir el apoyo a la investigación y desarrollo de tecnologías sostenibles, y la promoción de su adopción por parte de las empresas.</p>
    <p>Colaborar con otros departamentos y organismos: La gerencia de desarrollo económico y gestión ambiental puede colaborar con otros departamentos y organismos del gobierno, así como con organizaciones no gubernamentales y empresas privadas, para fomentar el desarrollo económico sostenible y la gestión ambiental.</p>
    <p>En resumen, la gerencia de desarrollo económico y gestión ambiental tiene como objetivo equilibrar el desarrollo económico con la protección del medio ambiente, promoviendo un crecimiento sostenible y responsable.</p>
  </div>
</div>
