/* .titulo-cuentas-municipales{
  animation: heartbeat 2s infinite;
}
.contenedor-cuentas{
  font-size: 13px;
}
.img-bbva{
  max-height: 200px;
  max-width: 100px;
}

.img-banconacion{
  max-height: 39px;
}
.titulo-cuentas{
  color: var(--color-secundario);
}
.span-cuentas{
  color: var(--color-primario);
}
.bg-whatsapp{
  color: #29A71A;
}
.texto-ajustado{
  text-align: justify;
} */
