<p class="text-center fw-bold titulo-cuentas-municipales text-danger mb-2">Puedes realizar tus pagos - CUENTAS MUNICIPALES</p>
<div class="row mx-0 contenedor-cuentas">
  <div class="col-6 ">
    <div class="d-flex justify-content-center">
      <img class="img-fluid img-bbva" src="assets/img/bbva.jpg" alt="bbva">
    </div>
    <p class="text-center fw-bold my-0 titulo-cuentas">PREDIOS</p>
    <p class="text-center my-0"><span class="fw-bold span-cuentas">Cta:</span> 0011-0275-010005548-59</p>
    <p class="text-center my-0"><span class="fw-bold span-cuentas">CCI:</span> 0011-275-000100055488-59</p>
    <p class="text-center fw-bold my-0 titulo-cuentas">ARBITRIOS MUNICIPALES</p>
    <p class="text-center my-0"><span class="fw-bold span-cuentas">Cta:</span> 0011-0275-0100055496-52</p>
    <p class="text-center my-0"><span class="fw-bold span-cuentas">CCI:</span> 011-275-000100055496-52</p>


  </div>
  <div class="col-6">
    <div class="d-flex justify-content-center">
      <img class="img-fluid img-banconacion" src="assets/img/bancodelanacion.jpg" alt="banco-de-la-nacion">
    </div>
    <p class="text-center fw-bold my-0 titulo-cuentas">PREDIOS Y ARBITRIOS</p>
    <p class="text-center my-0"><span class="fw-bold span-cuentas">Cta:</span> 00321010504</p>
    <p class="text-center my-0"><span class="fw-bold span-cuentas">CCI:</span> 018-321-000321010504-09</p>
    <p class="text-center fw-bold my-0 bg-whatsapp"><img class="px-2" src="assets/img/whatsapp.png"
        alt="whatsapp">WhatsApp</p>
    <p class="text-center fw-bold my-0">972 237 404</p>
  </div>
  <div class="col-12 mt-2">
    <p class="fw-bold my-0 texto-ajustado">
      Enviar el recibo escaneado, bajo que concepto y año, está realizando el pago
      ( Impuesto Predial y Arbitrios Municipales) así como los datos del titular de
      la deuda (nombres completos, código de contribuyente, DNI, etc ) al correo:
    </p>
    <p class="text-center fw-bold my-0"><img class="px-2" src="assets/img/correo.png" alt="correo">gestiondecobranza@munihuacho.gob.pe</p>
  </div>
</div>
