<div class="contenedor-main-portalweb ">
  <portalweb-titulo-img titulo="Oficina General De Asesoria Juridica"></portalweb-titulo-img>
  <div class="my-5 px-5">
    <p>La Oficina General de Asesoría Jurídica es el departamento que brinda asesoramiento y servicios legales a la
      organización y sus empleados en diferentes áreas del derecho. Las funciones principales de una oficina general de
      asesoría jurídica son las siguientes:</p>
    <ol>
      <li>Proporcionar asesoramiento legal: La oficina general de asesoría jurídica brinda asesoramiento y orientación
        legal a la organización y sus empleados en relación con asuntos legales que afectan a la organización. Esto
        puede
        incluir contratos, litigios, derecho laboral, propiedad intelectual, impuestos, entre otros.</li>
      <li>Redactar y revisar contratos y acuerdos: La oficina general de asesoría jurídica es responsable de redactar y
        revisar los contratos y acuerdos de la organización, asegurándose de que se ajusten a la ley y protejan los
        intereses de la organización.</li>
      <li>Gestionar los litigios: Si la organización está involucrada en un litigio, la oficina general de asesoría
        jurídica brinda asesoramiento y gestiona el proceso legal, desde la investigación hasta la resolución del caso.
      </li>
      <li>Garantizar el cumplimiento legal: La oficina general de asesoría jurídica se asegura de que la organización
        cumpla con todas las leyes y regulaciones aplicables, y de que la organización esté al día con las leyes y
        regulaciones nuevas y cambiantes.</li>
      <li>Capacitar a los empleados: La oficina general de asesoría jurídica puede ofrecer capacitación a los empleados
        sobre temas legales relevantes para su trabajo, como las políticas de la empresa, la privacidad de los datos,
        entre otros.</li>
    </ol>
    <p>En resumen, la oficina general de asesoría jurídica es responsable de garantizar que la organización cumpla con
      las
      leyes y regulaciones aplicables, brindando asesoramiento legal y servicios en diferentes áreas del derecho,
      redactando y revisando contratos y acuerdos, gestionando los litigios y capacitando a los empleados sobre temas
      legales relevantes.</p>
  </div>

</div>
