<div class="contenedor-main-portalweb ">
  <slider-pw></slider-pw>
  <slider-portalweb></slider-portalweb>
  <div class="px-5">
    <h4 class="text-center fw-bold">Gerencia De Desarrollo Urbano Y Rural, Riesgos De Desastres Y Defensa Civil</h4>
    <p class="fw-bold">Misión: </p>
    <p>Asesorar a la alta dirección para el planeamiento urbano y la ejecución de obras del presupuesto institucional para cada año y cumplir con el cronograma de metas trazadas en el año, con la ejecución de las obras en forma oportuna y eficaz. </p>
    <p class="fw-bold">Visión: </p>
    <p>Ser una Gerencia eficiente que cumpla con los objetivos trazados como; la eliminación de barreras burocráticas en la atención a sus trámites, viabilizar los perfiles y/o expediente técnico ante el SNIP que benefician el desarrollo de la Provincia de Huaura. </p>
    <p class="fw-bold">Objetivos Generales: </p>
    <p>Promover el desarrollo de la calidad de vida de la población de la Provincia de Huaura a través de la ejecución e implementación de los proyectos y programas de inversión pública, enmarcados dentro del Plan de Desarrollo Institucional </p>
    <p class="fw-bold">Objetivos Parciales: </p>
    <p>Planificar, organizar, dirigir, ejecutar y controlar la ejecución de proyectos de inversión pública. Velar porque los proyectos de inversión pública se enmarquen en las competencias de nivel de Gobiernos Locales </p>
    <p class="fw-bold">Objetivos Específicos: </p>
    <p>Efectuar el monitoreo permanente de los proyectos de inversión pública. </p>
    <p class="fw-bold">Funciones: </p>
    <ul>
      <li>Fomentar y dirigir la política municipal en materia de acondicionamiento territorial, asentamientos humanos y vivienda en concordancia con la Ley Orgánica de Municipalidades, Reglamento de Acondicionamiento Territorial, Reglamento Nacional de Construcción y otras normas sobre la materia.</li>
      <li>Atender los planes urbanos de acondicionamiento territorial, formulándose, supervisándolo y manteniéndolo actualizado.</li>
      <li>Dictamen en los procesos públicos y privados de acondicionamiento territorial, habilitaciones urbanas, asentamientos humanos y vivienda.</li>
      <li>Dirigir la ejecución de los programas y proyectos de acondicionamiento territorial, habilitaciones urbanas, asentamientos humanos y vivienda.</li>
      <li>Registrar los planes urbanos y sus modificaciones que se construyan en el Distrito y la Provincia.</li>
      <li>Mantener un archivo catalogo e intangible de los planes generales de la ciudad, servicios públicos, de lotización y equipamiento social, canalizaciones, monumentos arqueológicos, históricos, artísticos y en general de todos los asuntos de interés y necesidad para la ciudad.</li>
      <li>Formular, organizar y ejecutar el Catastro Municipal y su actualización permanente.</li>
      <li>Proponer normas y reglamentos sobre ornatos y viviendas.</li>
      <li>Proponer, supervisar y actualizar el Proyecto de Nomenclatura de las calles, avenidas, plazas, etc. del Distrito de Huacho.</li>
      <li>Reglamentar y suscribir certificados de licencias de obras, finalización de obras, etc. y controlar las construcciones, remodelaciones y demoliciones de los inmuebles de las áreas urbanas, de conformidad con las normas del Reglamento Nacional de Construcción y el Reglamento Provincial, respectivo.</li>
      <li>Controlar el cumplimiento de las leyes, decretos, reglamentos y ordenanzas, mediante la calificación, regularización y control del Desarrollo Urbano del Distrito; así como la atención y orientación al vecino para la correcta aplicación de los dispositivos legales que regulan el uso, construcción y conservación de las edificaciones privadas y públicas.</li>
      <li>Planificar y proponer la política de Desarrollo Urbano de la Municipalidad, elaborando el Plan integral de Desarrollo Urbano.</li>
      <li>Atender las diferentes solicitudes administrativas contenidas en el Texto Único de Procedimientos Administrativos (TUPA), en el ámbito de su competencia.</li>
      <li>Revisar, coordinar y visar directivas, informes, notificaciones, resoluciones y otros documentos relacionados con el ámbito de su competencia.</li>
      <li>Proponer proyectos de Ordenanzas, Decretos y Directivas, sobre el ámbito de su competencia.</li>
      <li>Suscribir las resoluciones pertinentes en el ámbito de su competencia, de acuerdo a las facultades otorgadas.</li>
      <li>Planificar y controlar todas las acciones inherentes al desarrollo y mantenimiento de las obras privadas y municipales que se realizan en el Distrito, formulado en el Plan Anual respectivo.</li>
      <li>Planificar, controlar y supervisar todas las acciones a las Obras Publicas del Distrito y de la Provincia.</li>
      <li>Mantener actualizado el Banco de Proyecto para su oportuna planificación y ejecución.</li>
      <li>Mantener actualizado el plan de Desarrollo Urbano de la Provincia.</li>
      <li>Otras que le delegue la Alcaldía y Gerencia Municipalidad o que le sean dadas por las normas sustantivas. </li>
    </ul>
  </div>
</div>
