<div class="">
  <div class="image-overlay position-relative">
    <img class="img-fluid w-100" src="assets/img/portalwebmuni.jpg" alt="img-municipalidad">
    <div class="position-absolute top-50 start-50 translate-middle text-center text-white">
      <h2>{{ titulo }}</h2>
    </div>
  </div>
  <div class="row pie-img mx-0 py-3">
    <div class="col-6 d-flex align-items-center">
      <p class="px-4 text-white my-0">Siguenos en nuestra redes:</p>
    </div>
    <div class="col-6 d-flex justify-content-end">
      <a class="mx-2"><img class="img-fluid cursor-pointer" src="assets/img/facebook.png" alt="facebook" ></a>
      <a class="mx-2"><img class="img-fluid cursor-pointer" src="assets/img/instagram.png" alt="facebook" ></a>
      <a class="mx-2"><img class="img-fluid cursor-pointer" src="assets/img/youtube.png" alt="facebook" ></a>
    </div>
  </div>
</div>
