<div class="contenedor-titulo-img">
  <div class="image-overlay position-relative">
    <img class="img-fluid w-100" src="assets/img/portalwebmuni.jpg" alt="img-municipalidad">
    <div class="position-absolute top-50 start-50 translate-middle text-center text-white">
      <h2 class="titulo-img-portalweb">{{ titulo }}</h2>
    </div>
  </div>
  <!-- <div class="row pie-img mx-0 py-1 py-sm-2">
    <div class="col-8 d-flex align-items-center">
      <p class=" text-white my-0 siguenos-portalweb">Siguenos en nuestras redes:</p>
    </div>
    <div class="col-4 d-flex justify-content-end">
      <a href="https://www.facebook.com/MuniProvHuaura" target="_blank" class="mx-2"><img class="img-fluid cursor-pointer" src="assets/img/facebook.png" alt="facebook" ></a>
      <a href="https://www.instagram.com/muni_huacho/" target="_blank" class="mx-2"><img class="img-fluid cursor-pointer" src="assets/img/instagram.png" alt="instagram" ></a>
      <a href="https://www.youtube.com/channel/UCMgzp1c8PPfRjG5PB6lXUjA/featured" target="_blank" class="mx-2"><img class="img-fluid cursor-pointer" src="assets/img/youtube.png" alt="youtube" ></a>
    </div>
  </div> -->
</div>
