<div class="contenedor-main-portalweb ">
  <slider-pw></slider-pw>
  <slider-portalweb></slider-portalweb>
  <div class="px-5">
    <h4 class="text-center fw-bold">Subgerencia De Seguridad Ciudadana</h4>
    <div class="d-flex justify-content-center">
      <img class="img-fluid" src="assets/img/seguridadciudadana.jpg" alt="presupuesto-2025">
    </div>
    <ol class="mt-5">
      <li>Nosotros</li>
      <p>La Sub Gerencia de Seguridad Ciudadana es el Órgano de Línea encargado de realizar y promover acciones preventivas y disuasivas para contribuir a preservar el orden público, la vida y el patrimonio en el distrito, así mismo, realiza actividades de prevención y protección de la población en casos de emergencias y desastres de todo tipo, canalizando los recursos humanos y logísticos disponibles, ejecuta técnicas en Defensa Civil en el Distrito.</p>
      <li>Funciones</li>
      <p>
        Planear, organizar, dirigir, ejecutar, evaluar, controlar y supervisar las acciones disuasivas y preventivas contra los hechos  y circunstacias que alteren la tranquilidad Pública en sus diferentes modalidades en cada zona de seguridad.Coordinar con la Policía Nacional del Perú, la realización de actividades que busquen la tranquilidad y el orden en cada zona de seguridad del Distrito.Pomover la organizaión de seguridad como parte integrante de las Organizaciones Vecinales.Coordinar permanentemente con el Comité Provincial de Seguridad Ciudadana, para el cumplimiento y ejecución del Actividades en la Ciudad.
      </p>
    </ol>
  </div>
</div>
