<div class="contenedor-main-portalweb">
  <portalweb-titulo-img titulo="Información"></portalweb-titulo-img>
 <div class="px-5">
  <p class="mt-5">La antigua Provincia de Chancay estaba conformada (según Ley transitoria de Municipalidades del
    29-XII-1856) por los distritos de Huacho, Huaral, Chancay, Sayán, Supe, Barranca, Pativilca, Paccho
    y Checras. Debido al crecimiento poblacional y al desarrollo económico, los distritos de Huaral y
    Chancay pasaron a conformar la Provincia de Huaral (Ley Nº 21488 del 11-V-1976); mientras que
    Barranca, Pativilca y Supe (Ley Nº 23939 del 01-X-1984) pasaron a conformar la provincia de Barranca. De
    esa manera la provincia quedo prácticamente reducida a la cuenca del río Huaura (el distrito de Ámbar
    fue anexado por Ley Nº 8003 del 14-II-1935, antes formo parte de la provincia de Cajatambo) pero
    conservando su antigua denominación, por lo que por ley Nº 24886 del 26-V-1988 se cambio su denominación
    por Provincia de Huaura.</p>
  <div>

     <div class="row box-ciudad d-flex align-items-lg-center mt-lg-0 mx-0">
      <h4 class="text-center fw-bold pb-4">Ciudad de Huacho</h4>
      <div class="col-lg-6 col-12">
        <p class="mb-0">
          Huacho es una ciudad ubicada en la costa central del Perú, capital de la Provincia de Huaura y
          sede de la Región Lima Provincias y se ubica en una bahía formada por el Océano Pacifico a 148 km. al
          norte de la ciudad de Lima, con una altitud de 30 mts sobre el nivel del mar, próxima a la
          desembocadura del río Huaura.
        </p>
      </div>
      <div class="col-lg-6 col-12 d-flex justify-content-center mt-3">
        <img class="img-fluid" src="assets/img/ciuddaddehuacho.png" alt="ciudad-de-huacho">
      </div>
    </div>

  </div>
  <div class="row pt-4 mx-0">
    <div class="col-md-6 col-12">
      <h4 class="text-center fw-bold titulo-portalweb">Misión</h4>
      <p>
        Entidad del estado que cumple con la Integración Territorial en la Provincia de Huaura, promotora
        del Desarrollo Humano sostenible, con capacidad para el cumplimiento de sus fines, promueve la
        adecuada prestación de Servicios Públicos Locales, Gobierno incluyente que desarrolla las Políticas
        y Planes de Desarrollo Concertado en un espacio de reflexión y debate, promueve el Desarrollo
        Integral Solidario para viabilizar el crecimiento Económico, la Justicia Social y la Sostenibilidad Ambiental,
        Propiciando la defensa de la ciudadanía para las mejores condiciones de vida de su población.
      </p>
    </div>
    <div class="col-md-6 col-12">
      <h4 class="text-center fw-bold titulo-portalweb">Visión</h4>
      <p>
        Huaura al 2021 es una provincia integrada con sus distritos, con sus principales circuitos viales
        asfaltados y seguros, con desarrollo integral solidario, sostenido y sustentablemente, con manejo
        y gestión de cuenca hidrográfica del rio huaura y el litoral marítimo, articulado al mundo globalizado.
        Sus ciudadanas y ciudadanos organizados, inspirados en principios y valores democráticos, donde
        el rol de la ciudadanía contribuye al desarrollo de la provincia, sus autoridades y lideres actúan
        con integridad moral, son comprometidos, concertadores, participativos, eficientes y honestos, con
        vocación deservicio, logran el desarrollo institucional de sus organizaciones.
      </p>
    </div>
  </div>
   <div class="pt-4 ">
    <h4 class="fw-bold">Objetivos</h4>
    <ol type="a">
      <li>Integración Provincial Territorial</li>
      <li>Seguridad Ciudadana Provincial, Sea Una Conducta De Vida, En Coordinación Con La Sociedad
        Civil Y El Empresariado
      </li>
      <li>Medio Ambiente Sostenido</li>
      <li>Expansión Territorial Ordenado En El Marco De La Nueva Ruralidad Y Enfoque De Cuenca</li>
      <li>Provincia Con Economía Competitiva</li>
      <li>Gobernabilidad Local Con Gestión Transparente Con La Participación Ciudadana</li>
    </ol>
  </div>
  <div class="row mx-0">
    <div class="d-flex justify-content-center">
      <img class="img-fluid" src="assets/img/mapa-huaura.jpg" alt="mapa-huaura">
    </div>
  </div>
  <div class="row px-4 mx-0">
    <table class="table table-bordered table-striped table-hover">
      <tbody>
        <tr>
          <td >Región</td>
          <td >Lima</td>
        </tr>
        <tr>
          <td >Provincia</td>
          <td >Huaura</td>
        </tr>
        <tr>
          <td >Capital</td>
          <td >Huacho</td>
        </tr>
        <tr>
          <td >Población</td>
          <td >	197,384</td>
        </tr>
        <tr>
          <td >Último Censo</td>
          <td >2007</td>
        </tr>
        <tr>
          <td >Superficie</td>
          <td >4,892 km2</td>
        </tr>
        <tr>
          <td >Electores Hábiles</td>
          <td >143,225</td>
        </tr>
        <tr>
          <td >Electores Varones</td>
          <td >72,184</td>
        </tr>
        <tr>
          <td >Electores Mujeres</td>
          <td >71,041</td>
        </tr>
        <tr>
          <td >Número de Distritos</td>
          <td >12</td>
        </tr>
        <tr>
          <td >Alcaldes Distritales</td>
          <td >11</td>
        </tr>
        <tr>
          <td >Regidores Distritales</td>
          <td >61</td>
        </tr>
      </tbody>
    </table>
  </div>
 </div>
</div>
