<slider-pw></slider-pw>
  <slider-portalweb></slider-portalweb>
<div class="contenedor-main-portalweb">



  <div class="mb-5">
    <h4 class="text-center fw-bold pb-4">Información</h4>
    <p class="">La antigua Provincia de Chancay estaba conformada (según Ley transitoria de Municipalidades del
      29-XII-1856) por los distritos de Huacho, Huaral, Chancay, Sayán, Supe, Barranca, Pativilca, Paccho
      y Checras. Debido al crecimiento poblacional y al desarrollo económico, los distritos de Huaral y
      Chancay pasaron a conformar la Provincia de Huaral (Ley Nº 21488 del 11-V-1976); mientras que
      Barranca, Pativilca y Supe (Ley Nº 23939 del 01-X-1984) pasaron a conformar la provincia de Barranca. De
      esa manera la provincia quedo prácticamente reducida a la cuenca del río Huaura (el distrito de Ámbar
      fue anexado por Ley Nº 8003 del 14-II-1935, antes formo parte de la provincia de Cajatambo) pero
      conservando su antigua denominación, por lo que por ley Nº 24886 del 26-V-1988 se cambio su denominación
      por Provincia de Huaura.</p>
    <div>

      <div class="row box-ciudad d-flex align-items-lg-center mt-lg-0 mx-0">
        <h4 class="text-center fw-bold pb-4">Ciudad de Huacho</h4>
        <div class="col-lg-6 col-12">
          <p class="mb-0">
            Huacho es una ciudad ubicada en la costa central del Perú, capital de la Provincia de Huaura y
            sede de la Región Lima Provincias y se ubica en una bahía formada por el Océano Pacifico a 148 km. al
            norte de la ciudad de Lima, con una altitud de 30 mts sobre el nivel del mar, próxima a la
            desembocadura del río Huaura.
          </p>
        </div>
        <div class="col-lg-6 col-12 d-flex justify-content-center mt-3">
          <img class="img-fluid" src="assets/img/ciuddaddehuacho.png" alt="ciudad-de-huacho">
        </div>
      </div>

    </div>
    <div class="row mt-5 mx-0 bg-muni-text-white p-5">
      <div class="col-md-6 col-12">
        <h4 class="text-center fw-bold titulo-portalweb">Misión</h4>
        <p>
          «Promover el desarrollo humano sostenible en la provincia de Huaura mediante una gestión eficiente, inclusiva
          y participativa, asegurando servicios públicos de calidad, crecimiento económico, justicia social y
          sostenibilidad ambiental para mejorar las condiciones de vida de la ciudadanía.»
        </p>
      </div>
      <div class="col-md-6 col-12">
        <h4 class="text-center fw-bold titulo-portalweb">Visión</h4>
        <p>
          «Huaura 2021: Una provincia integrada, con infraestructura vial segura, desarrollo sostenible y gestión
          eficiente de recursos naturales. Una ciudadanía organizada, democrática y autoridades íntegras que promueven
          el desarrollo institucional y comunitario.»
        </p>
      </div>
    </div>
    <div class="pt-4 ">
      <h4 class="fw-bold text-center">Objetivos</h4>
      <div class="row box-ciudad d-flex align-items-lg-center mt-lg-0 mx-0">
        <div class="col-lg-6 col-12">
          <h4>Seguridad</h4>
          <p class="mb-0">
            Implementar un plan integral de seguridad ciudadana que incluya la mejora de la iluminación pública, el
            fortalecimiento de la vigilancia comunitaria y la instalación de cámaras de vigilancia estratégicamente
            ubicadas para reducir la incidencia delictiva en la provincia de Huaura.
          </p>
        </div>
        <div class="col-lg-6 col-12 d-flex justify-content-center mt-3">
          <img class="img-fluid" src="assets/img/obj-seguridad.jpg" alt="ciudad-de-huacho">
        </div>
        <div class="col-lg-6 col-12">
          <h4>Medio Ambiente</h4>
          <p class="mb-0">
            Ejecutar programas de gestión ambiental que promuevan la reforestación urbana, la gestión sostenible de
            residuos sólidos y la protección de las cuencas hidrográficas del río Huaura, asegurando así un entorno
            saludable y sostenible para todos los habitantes.
          </p>
        </div>
        <div class="col-lg-6 col-12 d-flex justify-content-center mt-3">
          <img class="img-fluid" src="assets/img/obj-medioamb.jpg" alt="ciudad-de-huacho">
        </div>
        <div class="col-lg-6 col-12">
          <h4>Obras Públicas</h4>
          <p class="mb-0">
            Realizar la ejecución y mantenimiento de infraestructuras básicas como la pavimentación y mantenimiento de
            principales vías urbanas y rurales, asegurando accesibilidad segura y eficiente para todos los ciudadanos de
            Huaura.
          </p>
        </div>
        <div class="col-lg-6 col-12 d-flex justify-content-center mt-3">
          <img class="img-fluid" src="assets/img/obj-obras.jpg" alt="ciudad-de-huacho">
        </div>
      </div>
    </div>

  </div>
</div>
