<main class="container main-auth">
  <div class="row ">
    <div class="col-12 mb-3 d-flex justify-content-end">
      <button type="button" class="btn btn-danger" (click)="cerrarSession()">Finalizar consulta</button>
    </div>
  </div>
  <div class="card mb-3 border border-5">
    <img src="assets/img/rosa-luto.jpg" class="card-img-top" alt="...">
    <h5 class="card-title text-center fw-bold pt-2">Datos personales</h5>
    <div class="card-body" style="max-height: 300px; overflow-y: auto;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let dataDefu of dataDefuncion;">
          <div class="row pb-3">
            <div class="col-12 col-md-6">
              <span class="fw-bold">Nombres: </span>{{dataDefu.nombres}}<br>
              <span class="fw-bold">Apellido Paterno: </span>{{dataDefu.paterno}}<br>
              <span class="fw-bold">Apellido Materno: </span>{{dataDefu.materno}}
            </div>
            <div class="col-12 col-md-6 mt-2 mt-md-0">
              <span class="fw-bold">Sexo: </span>{{dataDefu.sexo}}<br>
              <span class="fw-bold">Fecha de defunción: </span>{{dataDefu.fechadef}}<br>
              <span class="fw-bold">Folio: </span>{{dataDefu.folio}}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <h4 class="text-center mb-5 fw-bold px-0 mt-5">¡ Próximante para dispositivos android !</h4>
  <muni-sidecom></muni-sidecom>
</main>

