<div class="contenedor-main-portalweb ">
  <portalweb-titulo-img titulo="Vaso de leche"></portalweb-titulo-img>
  <div class="px-5 my-5 ">
    <p>
      El Programa del Vaso de Leche es un programa social de asistencia alimentaria que brinda el
      Municipalidad Provincial de Huaura a la población de mayor riesgo socio económico. Actualmente
      se cuenta con 60 comités y con 2957 beneficiarios.
    </p>
    <p>La distribución de los servicios brindados a los comités del PVL es de 4 tarros de leche
      gloria y 1 kilo de avena por beneficiario cada mes.</p>
    <ul>
      <li>Personal de apoyo "Practicantes en Bromatología, trabajo Social, Sociología"</li>
      <li>Asesoría Legal, DEMUNA.</li>
    </ul>
    <p class="fw-bold">VISION:</p>
    <p>Ser una oficina competitiva, innovadora y participativa que actué eficientemente, logrando el
      progreso de la Provincia a través del trabajo conjunto con los beneficiarios del Programa
      del Vaso de Leche.</p>
    <p class="fw-bold">MISION:</p>
    <P>
      Somos una Oficina que promueve el desarrollo integral de los beneficiarios del Vaso de Leche
      de nuestra Provincia a través de charlas y talleres productivo, ampliando capacidades y habilidades
      para el emprendimiento personal.
    </P>
    <p class="fw-bold">OBJETIVO GENERAL:</p>
    <ul>
      <li>Satisfacer las necesidades nutricionales de los beneficiarios del PVL.</li>
      <li>Proveer la calidad y la distribución oportuna de los productos.</li>
      <li>Confraternizar con las madres del PVL. Y promover una salud con el deporte y talleres.</li>
    </ul>
    <p class="fw-bold">OBJETIVOS ESPECIFICOS:</p>
    <ul>
      <li>Brindar un producto de calidad a los beneficiarios cumpliendo con los nutrientes respectivos de acuerdo a Ley.</li>
      <li>Mejorar la calidad de vida y estado nutricional a niños de 0 a 6 años.</li>
      <li>Mejorar la desnutrición, peligro de desnutrición y riesgo alimentario, satisfacer las necesidades nutricionales de los beneficiarios del PVL.</li>
    </ul>
    <p class="fw-bold">RECURSOS  HUMANOS:</p>
    <p>El programa del Vaso de Leche de la Municipalidad Provincial de Huaura- Huacho; está integrado por
      un equipo multidisciplinario de profesionales con experiencia en el manejo de los Programas sociales;
      donde brindan su atención a la población beneficiaria.
    </p>
    <p>Así mismo integran el equipo de trabajo otros profesionales de diversas disciplinas que apoyan
      externamente en las actividades del Programa.
    </p>
    <p class="fw-bold">Jefe de la Oficina del Programa del Vaso de Leche</p>
    <ul>
      <li>Técnico Administrativo.</li>
      <li>2 Auxiliares Administrativo.</li>
      <li>Personal de apoyo "Practicantes en Bromatología, trabajo Social, Sociología"</li>
      <li>Asesoría Legal, DEMUNA.</li>
    </ul>
  </div>
</div>
