<slider-pw></slider-pw>
  <slider-portalweb></slider-portalweb>
<div class="contenedor-main-portalweb ">

  <div>
    <h4 class="text-center fw-bold pb-4">Organización</h4>
    <p class="">
      Bajo los lineamientos de la gestión que dirige el alcalde Santiago Cano La Rosa, los funcionarios vienen
      trabajando en la actualización del Reglamento de Organización de Funciones (ROF) de la Municipalidad Provincial de
      Huaura.
    </p>
    <p class="">
      Este importante documento técnico, permitirá establecer una mejor estructura orgánica de la entidad, entre ellas,
      disponer de las funciones generales y específicas de la institución y de sus unidades orgánicas.
    </p>

    <gallery-pw [imagenes]="images"></gallery-pw>

  </div>

  <div class="row mt-5 mx-0 ">
    <div class="col-xl-6 col-12 ">
      <table class="table table-sm table-bordered table-striped table-hover tabla-width">
        <thead>
          <tr>
            <th colspan="2" class="bg-tabla text-white text-center">ALCALDÍA</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-fijo-1">Responsable</td>
            <td>Dr. SANTIAGO YURI CANO LA ROSA </td>
          </tr>
          <tr>
            <td class="col-fijo-1">Cargo</td>
            <td>Alcalde Provincial de Huaura</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Correo Electrónico</td>
            <td>alcaldiamph@munihuacho.gob.pe </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6 col-12 ">
      <table class="table table-sm table-bordered table-striped table-hover tabla-width">
        <thead>
          <tr>
            <th colspan="2" class="bg-tabla text-white text-center">GERENCIA MUNICIPAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-fijo-1">Responsable</td>
            <td>Rivera Chumpitaz, Ruben Rafael</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Cargo</td>
            <td>Gerente Municipal </td>
          </tr>
          <tr>
            <td class="col-fijo-1">Correo Electrónico</td>
            <td>gerenciamunicipal@munihuacho.gob.pe </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6 col-12 ">
      <table class="table table-sm table-bordered table-striped table-hover tabla-width">
        <thead>
          <tr>
            <th colspan="2" class="bg-tabla text-white text-center">OFICINA GENERAL DE ADMINISTRACIÓN Y FINANZAS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-fijo-1">Responsable</td>
            <td>Kattya Paola Flores Campos</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Cargo</td>
            <td>Jefe de la Oficina General de Administración y Finanzas </td>
          </tr>
          <tr>
            <td class="col-fijo-1">Correo Electrónico</td>
            <td>ogaf@munihuacho.gob.pe</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6 col-12 ">
      <table class="table table-sm table-bordered table-striped table-hover tabla-width">
        <thead>
          <tr>
            <th colspan="2" class="bg-tabla text-white text-center">OFICINA GENERAL DE PLANEAMIENTO, PRESUPUESTO E
              INVERSIONES</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-fijo-1">Responsable</td>
            <td>Oscar Enrique Mugruza Leon</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Cargo</td>
            <td>Jefe de la Oficina General de Planeamiento, Presupuesto e Inversiones</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Correo Electrónico</td>
            <td>ogppi@munihuacho.gob.pe</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6 col-12 ">
      <table class="table table-sm table-bordered table-striped table-hover tabla-width">
        <thead>
          <tr>
            <th colspan="2" class="bg-tabla text-white text-center">GERENCIA DE ADMINISTRACIÓN TRIBUTARIA Y RENTAS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-fijo-1">Responsable</td>
            <td>Tenorio Gamboa, Christian</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Cargo</td>
            <td>Gerente de Administración Tributaria y Rentas </td>
          </tr>
          <tr>
            <td class="col-fijo-1">Correo Electrónico</td>
            <td>gatr@munihuacho.gob.pe</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6 col-12 ">
      <table class="table table-sm table-bordered table-striped table-hover tabla-width">
        <thead>
          <tr>
            <th colspan="2" class="bg-tabla text-white text-center">GERENCIA DE GESTION DEL DESARROLLO SOCIAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-fijo-1">Responsable</td>
            <td>LIC. ALGIMAR JESUS TUESTA URBANO</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Cargo</td>
            <td>Gerente de Gestión del Desarrollo Social </td>
          </tr>
          <tr>
            <td class="col-fijo-1">Correo Electrónico</td>
            <td>desarrollosocial@munihuacho.gob.pe</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6 col-12 ">
      <table class="table table-sm table-bordered table-striped table-hover tabla-width">
        <thead>
          <tr>
            <th colspan="2" class="bg-tabla text-white text-center">GERENCIA DE DESARROLLO ECONOMICO Y GESTION AMBIENTAL
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-fijo-1">Responsable</td>
            <td>Carlos Arturo Reyes Román</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Cargo</td>
            <td>Gerente de Desarrollo Económico y Gestion Ambiental </td>
          </tr>
          <tr>
            <td class="col-fijo-1">Correo Electrónico</td>
            <td>gestionambiental@munihuacho.gob.pe</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6 col-12 ">
      <table class="table table-sm table-bordered table-striped table-hover tabla-width">
        <thead>
          <tr>
            <th colspan="2" class="bg-tabla text-white text-center">GERENCIA DE CONTROL DE LA CIUDAD</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-fijo-1">Responsable</td>
            <td>Gustavo Miguel Panaspaico Medina (E)</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Cargo</td>
            <td>Gerente de Control de la Ciudad </td>
          </tr>
          <tr>
            <td class="col-fijo-1">Correo Electrónico</td>
            <td>gcc@munihuacho.gob.pe</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6 col-12 ">
      <table class="table table-sm table-bordered table-striped table-hover tabla-width">
        <thead>
          <tr>
            <th colspan="2" class="bg-tabla text-white text-center">GERENCIA DE DESARROLLO URBANO Y RURAL, RIESGOS DE
              DESASTRES Y DEFENSA CIVIL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-fijo-1">Responsable</td>
            <td>Osbaldo Vicente Alvarado</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Cargo</td>
            <td>Gerente de Desarrollo Urbano Rural, Riesgos de Desastres y Defensa Civil</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Correo Electrónico</td>
            <td>gdurrddc@munihuacho.gob.pe</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6 col-12 ">
      <table class="table table-sm table-bordered table-striped table-hover tabla-width">
        <thead>
          <tr>
            <th colspan="2" class="bg-tabla text-white text-center">SUBGERENCIA DE TRANSPORTE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-fijo-1">Responsable</td>
            <td>Carlo Yenko Jimenez Vera</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Cargo</td>
            <td>Sub Gerente de Transporte </td>
          </tr>
          <tr>
            <td class="col-fijo-1">Correo Electrónico</td>
            <td>transporte@munihuacho.gob.pe</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6 col-12 ">
      <table class="table table-sm table-bordered table-striped table-hover tabla-width">
        <thead>
          <tr>
            <th colspan="2" class="bg-tabla text-white text-center">SECRETARÍA GENERAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-fijo-1">Responsable</td>
            <td>ING. MARLON YAM NUÑEZ LOO</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Cargo</td>
            <td>Secretario General</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Correo Electrónico</td>
            <td>secretariageneral@munihuacho.gob.pe</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6 col-12 ">
      <table class="table table-sm table-bordered table-striped table-hover tabla-width">
        <thead>
          <tr>
            <th colspan="2" class="bg-tabla text-white text-center">SUBGERENCIA DE SEGURIDAD CIUDADANA</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-fijo-1">Responsable</td>
            <td>Alan Gino Svagelj Toledo</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Cargo</td>
            <td>Sub Gerente de Seguridad Ciudadana</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Correo Electrónico</td>
            <td>sgseguridadciudadana@munihuacho.gob.pe</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6 col-12 ">
      <table class="table table-sm table-bordered table-striped table-hover tabla-width">
        <thead>
          <tr>
            <th colspan="2" class="bg-tabla text-white text-center">SUBGERENCIA DE FISCALIZACIÓN</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-fijo-1">Responsable</td>
            <td>Gustavo Miguel Panaspaico Medina</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Cargo</td>
            <td>Sub Gerente de Fiscalización</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Correo Electrónico</td>
            <td>sgfiscalizacion@munihuacho.gob.pe</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6 col-12 ">
      <table class="table table-sm table-bordered table-striped table-hover tabla-width">
        <thead>
          <tr>
            <th colspan="2" class="bg-tabla text-white text-center">OFICINA GENERAL DE ASESORÍA JURÍDICA</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-fijo-1">Responsable</td>
            <td>ABOG. MARTIN ORLANDO SOTO RAMOS</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Cargo</td>
            <td>Jefe de la Oficina General de Asesoría Jurídica&nbsp;</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Correo Electrónico</td>
            <td>asesoriajuridica@munihuacho.gob.pe</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6 col-12 ">
      <table class="table table-sm table-bordered table-striped table-hover tabla-width">
        <thead>
          <tr>
            <th colspan="2" class="bg-tabla text-white text-center">PROCURADURÍA PÚBLICA MUNICIPAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-fijo-1">Responsable</td>
            <td>Wilfer Francisco Carlos Palacios</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Cargo</td>
            <td>PROCURADOR PÚBLICO MUNICIPAL</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Correo Electrónico</td>
            <td>procuraduriamph@munihuacho.gob.pe</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6 col-12 ">
      <table class="table table-sm table-bordered table-striped table-hover tabla-width">
        <thead>
          <tr>
            <th colspan="2" class="bg-tabla text-white text-center">ÓRGANO DE CONTROL INSTITUCIONAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-fijo-1">Responsable</td>
            <td>Rosa Yesenia Aguilar Zelada</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Cargo</td>
            <td>Jefe del Órgano de Control Institucional </td>
          </tr>
          <tr>
            <td class="col-fijo-1">Correo Electrónico</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6 col-12 ">
      <table class="table table-sm table-bordered table-striped table-hover tabla-width">
        <thead>
          <tr>
            <th colspan="2" class="bg-tabla text-white text-center">OFICINA DE GESTIÓN DEL TALENTO HUMANO</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-fijo-1">Responsable</td>
            <td>Marco Antonio Martos Galvez</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Cargo</td>
            <td>Jefa de la Oficina de&nbsp;Gestión del Talento Humano </td>
          </tr>
          <tr>
            <td class="col-fijo-1">Correo Electrónico</td>
            <td>ogth@munihuacho.gob.pe</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6 col-12 ">
      <table class="table table-sm table-bordered table-striped table-hover tabla-width">
        <thead>
          <tr>
            <th colspan="2" class="bg-tabla text-white text-center">OFICINA DE LOGISTICA, SERV. GENERALES Y CONTROL
              PATRIMONIAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-fijo-1">Responsable</td>
            <td>Alexander Pérez Elespuru</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Cargo</td>
            <td>Jefe de la Oficina de Logística</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Correo Electrónico</td>
            <td>logistica@munihuacho.gob.pe</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6 col-12 ">
      <table class="table table-sm table-bordered table-striped table-hover tabla-width">
        <thead>
          <tr>
            <th colspan="2" class="bg-tabla text-white text-center">OFICINA DE TECNOLOGÍA DE LA INFORMACION Y
              COMUNICACIONES</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-fijo-1">Responsable</td>
            <td>JAVIER MARCO ANTONIO MUÑOZ QUISPE</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Cargo</td>
            <td>Jefe de la Oficina de Tecnología de la Información y Comunicaciones </td>
          </tr>
          <tr>
            <td class="col-fijo-1">Correo Electrónico</td>
            <td>informatica@munihuacho.gob.pe</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6 col-12 ">
      <table class="table table-sm table-bordered table-striped table-hover tabla-width">
        <thead>
          <tr>
            <th colspan="2" class="bg-tabla text-white text-center">SUB GERENCIA DE DESARROLLO DEL TURISMO</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-fijo-1">Responsable</td>
            <td>Miguel Angel Silva Esquen</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Cargo</td>
            <td>Subgerente de Desarrollo del Turismo&nbsp; </td>
          </tr>
          <tr>
            <td class="col-fijo-1">Correo Electrónico</td>
            <td>sgdturismo@munihuacho.gob.pe</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6 col-12 ">
      <table class="table table-sm table-bordered table-striped table-hover tabla-width">
        <thead>
          <tr>
            <th colspan="2" class="bg-tabla text-white text-center">OFICINA DE REGISTRO CIVIL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-fijo-1">Responsable</td>
            <td>ABOG. MARTIN RIOS TIBURCIO</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Cargo</td>
            <td>Jefe de la Oficina de Registro Civil </td>
          </tr>
          <tr>
            <td class="col-fijo-1">Correo Electrónico</td>
            <td>registrocivil@munihuacho.gob.pe</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6 col-12 ">
      <table class="table table-sm table-bordered table-striped table-hover tabla-width">
        <thead>
          <tr>
            <th colspan="2" class="bg-tabla text-white text-center">SUBGERENCIA DE POBLACIONES VULNERABLES</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-fijo-1">Responsable</td>
            <td>LIC. ALCIMAR JESUS TUESTA URBANO (E)</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Cargo</td>
            <td>Subgerente de Poblaciones Vulnerables </td>
          </tr>
          <tr>
            <td class="col-fijo-1">Correo Electrónico</td>
            <td>poblacionesvulnerables@munihuacho.gob.pe</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6 col-12 ">
      <table class="table table-sm table-bordered table-striped table-hover tabla-width">
        <thead>
          <tr>
            <th colspan="2" class="bg-tabla text-white text-center">SUBGERENCIA DE PROGRAMAS SOCIALES</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-fijo-1">Responsable</td>
            <td>JOSÉ LUIS HUAQUI BLAS</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Cargo</td>
            <td>Encargado de la subgerencia de Programas Sociales </td>
          </tr>
          <tr>
            <td class="col-fijo-1">Correo Electrónico</td>
            <td>jhuaquib@munihuacho.gob.pe</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6 col-12 ">
      <table class="table table-sm table-bordered table-striped table-hover tabla-width">
        <thead>
          <tr>
            <th colspan="2" class="bg-tabla text-white text-center">SUBGERENCIA DE GESTIÓN AMBIENTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-fijo-1">Responsable</td>
            <td>ING. ROBINSON WILLIAM HIDALGO FALCON (E)</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Cargo</td>
            <td>Subgerente de Gestión Ambiental</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Correo Electrónico</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6 col-12 ">
      <table class="table table-sm table-bordered table-striped table-hover tabla-width">
        <thead>
          <tr>
            <th colspan="2" class="bg-tabla text-white text-center">SUBGERENCIA DE ESTUDIOS, PROYECTOS Y OBRAS PÚBLICAS
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-fijo-1">Responsable</td>
            <td>JESUS ANTONIO MUGURUZA VALENTIN</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Cargo</td>
            <td>Subgerente de Estudios, Proyectos y Obras Públicas </td>
          </tr>
          <tr>
            <td class="col-fijo-1">Correo Electrónico</td>
            <td>jmuguruzav@munihuacho.gob.pe</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6 col-12 ">
      <table class="table table-sm table-bordered table-striped table-hover tabla-width">
        <thead>
          <tr>
            <th colspan="2" class="bg-tabla text-white text-center">OFICINA DE PROGRAMACIÓN MULTIANUAL DE INVERSIONES
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-fijo-1">Responsable</td>
            <td>LIC. FLOR MARLENY SAENZ HUAMAN</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Cargo</td>
            <td>Jefa de la oficina de Programación e Inversiones </td>
          </tr>
          <tr>
            <td class="col-fijo-1">Correo Electrónico</td>
            <td>opmi@munihuacho.gob.pe</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6 col-12 ">
      <table class="table table-sm table-bordered table-striped table-hover tabla-width">
        <thead>
          <tr>
            <th colspan="2" class="bg-tabla text-white text-center">SUBGERENCIA DE OBRAS PRIVADAS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-fijo-1">Responsable</td>
            <td>ING. LUIGI NICOLEY ESPEJO BARRENECHEA </td>
          </tr>
          <tr>
            <td class="col-fijo-1">Cargo</td>
            <td>Subgerente de Obras Privadas</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Correo Electrónico</td>
            <td>lespejo@munihuacho.gob.pe</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6 col-12 ">
      <table class="table table-sm table-bordered table-striped table-hover tabla-width">
        <thead>
          <tr>
            <th colspan="2" class="bg-tabla text-white text-center">SUBGERENCIA. DE PLANEAMIENTO TERRITORIAL, CATASTRO Y
              FORM. DE LA PROPIEDAD
              INFORMAL.</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-fijo-1">Responsable</td>
            <td>Luis Alberto Cruz Norabuena</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Cargo</td>
            <td>Sub Gerente De Planeamiento Territorial, Catastro Y Formalización De La Propiedad Informal</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Correo Electrónico</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6 col-12 ">
      <table class="table table-sm table-bordered table-striped table-hover tabla-width">
        <thead>
          <tr>
            <th colspan="2" class="bg-tabla text-white text-center">SUBGERENCIA DE DESARROLLO PRODUCTIVO</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-fijo-1">Responsable</td>
            <td>Carlos Arturo Reyes Román</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Cargo</td>
            <td>Sub Gerente de Desarrollo Productivo </td>
          </tr>
          <tr>
            <td class="col-fijo-1">Correo Electrónico</td>
            <td>sgdproductivo@munihuacho.gob.pe</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6 col-12 ">
      <table class="table table-sm table-bordered table-striped table-hover tabla-width">
        <thead>
          <tr>
            <th colspan="2" class="bg-tabla text-white text-center">SUBGERENCIA DE REGISTRO Y ORIENTACIÓN AL
              CONTRIBUYENTE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-fijo-1">Responsable</td>
            <td>Cesar John Mazuelos Paz</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Cargo</td>
            <td>Subgerente de Registro y Orientación al Contribuyente&nbsp; </td>
          </tr>
          <tr>
            <td class="col-fijo-1">Correo Electrónico</td>
            <td>sgroc@munihuacho.gob.pe</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6 col-12 ">
      <table class="table table-sm table-bordered table-striped table-hover tabla-width">
        <thead>
          <tr>
            <th colspan="2" class="bg-tabla text-white text-center">SUBGERENCIA DE CONTROL DE LA DEUDA Y COBRANZA
              COACTIVA</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-fijo-1">Responsable</td>
            <td>CPC JORGE HUGO SOLANO LUNA</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Cargo</td>
            <td>Subgerente de Cobranza y Control de las Deudas </td>
          </tr>
          <tr>
            <td class="col-fijo-1">Correo Electrónico</td>
            <td>oficinacoactiva@munihuacho.gob.pe</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6 col-12 ">
      <table class="table table-sm table-bordered table-striped table-hover tabla-width">
        <thead>
          <tr>
            <th colspan="2" class="bg-tabla text-white text-center">SUBGERENCIA DE FISCALIZACIÓN TRIBUTARIA</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-fijo-1">Responsable</td>
            <td>LIC. VICTOR HUGO PAREDES ROJAS (E)</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Cargo</td>
            <td>Subgerente de Fiscalización Tributaria </td>
          </tr>
          <tr>
            <td class="col-fijo-1">Correo Electrónico</td>
            <td>sgfiscalizaciontributaria@munihuacho.gob.pe</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6 col-12 ">
      <table class="table table-sm table-bordered table-striped table-hover tabla-width">
        <thead>
          <tr>
            <th colspan="2" class="bg-tabla text-white text-center">OFICINA DE CONTABILIDAD</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-fijo-1">Responsable</td>
            <td>DR. JULIO VICTOR CARBAJAL ROMERO </td>
          </tr>
          <tr>
            <td class="col-fijo-1">Cargo</td>
            <td>Jefe de la Oficina de Contabilidad</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Correo Electrónico</td>
            <td>jcarbajalr@munihuacho.gob.pe</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6 col-12 ">
      <table class="table table-sm table-bordered table-striped table-hover tabla-width">
        <thead>
          <tr>
            <th colspan="2" class="bg-tabla text-white text-center">OFICINA DE TRÁMITE DOCUMENTARIO Y ARCHIVO CENTRAL
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-fijo-1">Responsable</td>
            <td>ELIZABETH GALLEGOS HIGINIO DE CASTILLO</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Cargo</td>
            <td>Jefe de la Oficina de Trámite Documentario y Archivo General </td>
          </tr>
          <tr>
            <td class="col-fijo-1">Correo Electrónico</td>
            <td>egallegos@munihuacho.gob.pe</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6 col-12 ">
      <table class="table table-sm table-bordered table-striped table-hover tabla-width">
        <thead>
          <tr>
            <th colspan="2" class="bg-tabla text-white text-center">OFICINA DE RELACIONES PÚBLICAS E IMAGEN
              INSTITUCIONAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-fijo-1">Responsable</td>
            <td>Sandra Pilar Janet Lino Garcia (E)</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Cargo</td>
            <td>Jefe de la Oficina de Relaciones Públicas e Imagen Institucional&nbsp; </td>
          </tr>
          <tr>
            <td class="col-fijo-1">Correo Electrónico</td>
            <td>imagen@munihuacho.gob.pe</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6 col-12 ">
      <table class="table table-sm table-bordered table-striped table-hover tabla-width">
        <thead>
          <tr>
            <th colspan="2" class="bg-tabla text-white text-center">SUBGERENCIA DE GESTIÓN DE RIESGOS DE DESASTRES Y
              DEFENSA CIVIL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-fijo-1">Responsable</td>
            <td>Segundo Juan Argomedo Muñoz</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Cargo</td>
            <td>Subgerente de Gestión de Riesgo de Desastres y Defensa Civil </td>
          </tr>
          <tr>
            <td class="col-fijo-1">Correo Electrónico</td>
            <td>defensacivil@munihuacho.gob.pe</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6 col-12 ">
      <table class="table table-sm table-bordered table-striped table-hover tabla-width">
        <thead>
          <tr>
            <th colspan="2" class="bg-tabla text-white text-center">UNIDAD DE GESTION DE RESIDUOS SÓLIDOS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-fijo-1">Responsable</td>
            <td>Robinson William Hidalgo Falcón</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Cargo</td>
            <td>Director de la Unidad de Gestion de Residuos Sólidos </td>
          </tr>
          <tr>
            <td class="col-fijo-1">Correo Electrónico</td>
            <td>ugrs@munihuacho.gob.pe</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6 col-12 ">
      <table class="table table-sm table-bordered table-striped table-hover tabla-width">
        <thead>
          <tr>
            <th colspan="2" class="bg-tabla text-white text-center">OFICINA DE PLANEAMIENTO ESTRATÉGICO, PRESUPUESTO Y
              ESTADISTICA</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-fijo-1">Responsable</td>
            <td>Oscar Enrique Mugruza Leon (E)</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Cargo</td>
            <td>Jefe de la Oficina de Planeamiento Estratégico, Presupuesto y Estadística. </td>
          </tr>
          <tr>
            <td class="col-fijo-1">Correo Electrónico</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6 col-12 ">
      <table class="table table-sm table-bordered table-striped table-hover tabla-width">
        <thead>
          <tr>
            <th colspan="2" class="bg-tabla text-white text-center">OFICINA DE TESORERÍA</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-fijo-1">Responsable</td>
            <td>CPC. YURY DENYS CONTRERAS TARAZONA </td>
          </tr>
          <tr>
            <td class="col-fijo-1">Cargo</td>
            <td>Jefe de la Oficina de Tesorería</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Correo Electrónico</td>
            <td>ycontreras@munihuacho.gob.pe</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6 col-12 ">
      <table class="table table-sm table-bordered table-striped table-hover tabla-width">
        <thead>
          <tr>
            <th colspan="2" class="bg-tabla text-white text-center">INSTITUTO VIAL PROVINCIAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-fijo-1">Responsable</td>
            <td>ELIAS ENRIQUE SILVA NAVARRO </td>
          </tr>
          <tr>
            <td class="col-fijo-1">Cargo</td>
            <td>Jefe del Instituto Vial Provincial</td>
          </tr>
          <tr>
            <td class="col-fijo-1">Correo Electrónico</td>
            <td>institutovialprovincial@munihuacho.gob.pe</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
