<slider-pw></slider-pw>
  <slider-portalweb></slider-portalweb>
<div class="contenedor-main-portalweb ">

  <div class="my-5 px-5">
    <h4 class="text-center fw-bold">Casa de la cultura</h4>
    <p class="fw-bold">NUESTRA MISIÓN</p>
    <p>La <span class="fw-bold">CASA DE LA CULTURA </span> como misión ser una institución dedicada a rescatar los valores y costumbres de nuestro Distrito, provincia y a nivel de la Región, siempre en busca de crear, formar nuevos artistas y personas que realcen nuestra Educación, Cultura y Deporte, garantizando a toda la población el disfrute y creación de los bienes y servicios Educativos, culturales y deportivos en nuestro pueblo, incentivando, motivando a los niños, jóvenes y adultos a participar en las diferentes áreas, facilitándoles todas las herramientas necesarias para el enseñanza de nuestro pueblo dejando con esto el legado de su sabiduría.</p>
    <p class="fw-bold">NUESTRA VISIÓN</p>
    <p>Ser una Institución que traza coordina y promueve nuestra educación, cultura y deporte, garantizando el acceso al disfrute y aprendizaje de nuestros valores, contribuyendo así con la elevación de la calidad de vida de toda nuestra población. Ser el organismo líder en el sector de la cultura, con las fortalezas, trabajando en equipo para mejorar continuamente y poder satisfacer las necesidades de la población.</p>
    <p class="fw-bold">INFORMES: </p>
    <p>Dirección: Calle Mariscal Castilla 185 – Huacho</p>
    <p>Estamos convencidos de que el desarrollo de nuestra provincia es de la mano con el desarrollo del pueblo, por eso te invitamos a conocer los diferentes cursos y talleres que ponemos a tu disposición.</p>
  </div>
</div>
