<div class="nav row mx-0">
  <!-- <div
    class="col-12 d-xl-flex justify-content-xl-start col-xl-8 d-lg-flex justify-content-lg-start col-lg-7 d-md-flex justify-content-md-start col-md-6 col-sm-12 d-sm-flex justify-content-sm-center d-flex justify-content-center">
    <img src="assets/img/munilogo.png" alt="munilogo">
  </div> -->
  <!-- menu -->
  <nav class="col-12 ">
    <div class="menu row">
      <div class="c1 col-6 d-flex  justify-content-center align-items-center" (click)="navegarA('/servicios', $event)">
        <img class="img-fluid" src="assets/img/escudo.png" alt="escudo-muni">
        <a class="text-white titulo-nav px-2 fw-bold">SIDECOM</a>
      </div>
      <div class="c2 col-6 d-flex  justify-content-center align-items-center" (click)="navegarA('/portalweb/noticias', $event)">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
          class="bi bi-browser-chrome icono-svg" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M16 8a8 8 0 0 1-7.022 7.94l1.902-7.098a3 3 0 0 0 .05-1.492A3 3 0 0 0 10.237 6h5.511A8 8 0 0 1 16 8M0 8a8 8 0 0 0 7.927 8l1.426-5.321a3 3 0 0 1-.723.255 3 3 0 0 1-1.743-.147 3 3 0 0 1-1.043-.7L.633 4.876A8 8 0 0 0 0 8m5.004-.167L1.108 3.936A8.003 8.003 0 0 1 15.418 5H8.066a3 3 0 0 0-1.252.243 2.99 2.99 0 0 0-1.81 2.59M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
        </svg>
        <a class="text-white titulo-nav fw-bold px-2">Portal Web</a>
      </div>
    </div>
  </nav>
  <!-- menu end -->
</div>
