
<nav class="navbar navbar-expand-lg py-1 nav-portalweb ">

  <!-- NAV CONTAINER START -->
  <div class="container-fluid">
    <a (click)="navegarA('/servicios', $event)" (mouseover)="onHover()" class="navbar-brand text-white fw-semibold only-cursor py-0">
      <img class="img-fluid" src="assets/img/escudo.png" alt="escudo-muni">
      SIDECOM</a>

    <!-- NAV BUTTON  -->
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuLateral">
      <span class=""><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-grid" viewBox="0 0 16 16">
        <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5z"/>
      </svg></span>
    </button>
    <!-- OFFCANVAS MAIN CONTAINER START -->
    <section class="offcanvas offcanvas-start" id="menuLateral" tabindex="-1">
      <div class="offcanvas-header" >
        <a (click)="navegarA('/servicios', $event)"  class="offcanvas-title text-white fw-bold only-cursor"><img class="img-fluid px-2" src="assets/img/escudo.png" alt="escudo-muni">SIDECOM</a>
        <button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="offcanvas"></button>
      </div>
      <!-- OFF CANVAS MENU LINKS  START-->
      <div class="offcanvas-body d-flex flex-column justify-content-between px-0">
        <ul class="navbar-nav justify-content-evenly">
          <li class="nav-item">
            <a (click)="navegarA('portalweb/inicio', $event);closeOffcanvas()" class="nav-link text-white only-cursor">INICIO</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              MUNICIPALIDAD
            </a>
            <ul class="dropdown-menu rounded-0 bg-portalweb-ul" aria-labelledby="navbarDropdown">
              <li><a (click)="navegarA('portalweb/informacion', $event);closeOffcanvas();seleccionarItem('informacion')" [ngClass]="{'bg-click': selectedItem === 'informacion'}" class="dropdown-item only-cursor">INFORMACIÓN</a></li>
              <li><a (click)="navegarA('portalweb/organizacion', $event);closeOffcanvas();seleccionarItem('organizacion')" [ngClass]="{'bg-click': selectedItem === 'organizacion'}" class="dropdown-item only-cursor">ORGANIZACION</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              UNIDADES ORGÁNICAS
            </a>
            <ul class="dropdown-menu rounded-0 bg-portalweb-ul" aria-labelledby="navbarDropdown">
              <li class="nav-item dropend">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  GERENCIA DE GESTIÓN<br>DEL DESARROLLO<br>SOCIAL
                </a>
                <ul class="dropdown-menu rounded-0 bg-portalweb-ul" aria-labelledby="navbarDropdown">
                  <li><a (click)="navegarA('portalweb/demuna', $event);closeOffcanvas();seleccionarItem('demuna')" [ngClass]="{'bg-click': selectedItem === 'demuna'}" class="dropdown-item only-cursor">DEMUNA</a></li>
                  <li><a (click)="navegarA('portalweb/omaped', $event);closeOffcanvas();seleccionarItem('omaped')" [ngClass]="{'bg-click': selectedItem === 'omaped'}" class="dropdown-item only-cursor" >OMAPED</a></li>
                  <li><a (click)="navegarA('portalweb/ule', $event);closeOffcanvas();seleccionarItem('ule')" [ngClass]="{'bg-click': selectedItem === 'ule'}" class="dropdown-item only-cursor" >ULE</a></li>
                  <li><a (click)="navegarA('portalweb/casa-de-la-cultura', $event);closeOffcanvas();seleccionarItem('casadelacultura')" [ngClass]="{'bg-click': selectedItem === 'casadelacultura'}" class="dropdown-item only-cursor" >CASA DE LA CULTURA</a></li>
                  <li class="nav-item dropend">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">
                      PROGRAMAS<br>SOCIALES
                    </a>
                    <ul class="dropdown-menu rounded-0 bg-portalweb-ul" aria-labelledby="navbarDropdown">
                      <li><a (click)="navegarA('portalweb/vaso-de-leche', $event);closeOffcanvas();seleccionarItem('vasoleche')" [ngClass]="{'bg-click': selectedItem === 'vasoleche'}" class="dropdown-item only-cursor" >VASO DE LECHE</a></li>
                      <li><a (click)="navegarA('portalweb/complementacion-alimentaria', $event);closeOffcanvas();seleccionarItem('complementacion')" [ngClass]="{'bg-click': selectedItem === 'complementacion'}" class="dropdown-item only-cursor">COMPLEMENTACIÓN<br>ALIMENTARIA</a></li>
                      <li><a (click)="navegarA('portalweb/educacion-cultura-deporte', $event);closeOffcanvas();seleccionarItem('educacion')" [ngClass]="{'bg-click': selectedItem === 'educacion'}" class="dropdown-item only-cursor">EDUCACIÓN,<br>CULTURA<br>Y DEPORTE</a></li>
                    </ul>
                  </li>
                  </ul>
              </li>
              <li><a (click)="navegarA('portalweb/gerencia-de-desarrollo-urbano-y-rural-riesgos-de-desastres-y-defensa-civil', $event);closeOffcanvas();seleccionarItem('desarrollourbano')" [ngClass]="{'bg-click': selectedItem === 'desarrollourbano'}" class="dropdown-item only-cursor">GERENCIA DE<br>DESARROLLO URBANO<br>Y RURAL, RIESGOS DE<br>DESASTRES Y DEFENSA<br>CIVIL</a></li>
              <li><a (click)="navegarA('portalweb/subgerencia-de-seguridad-ciudadana', $event);closeOffcanvas();seleccionarItem('seguridadciudadana')" [ngClass]="{'bg-click': selectedItem === 'seguridadciudadana'}" class="dropdown-item only-cursor">SUBGERENCIA DE<br>SEGURIDAD CIUDADANA</a></li>
              <li><a (click)="navegarA('portalweb/gerencia-de-desarrollo-economico-y-gestion-ambiental', $event);closeOffcanvas();seleccionarItem('desarrolloeconomico')" [ngClass]="{'bg-click': selectedItem === 'desarrolloeconomico'}" class="dropdown-item only-cursor">GERENCIA DE<br>DESARROLLO ECONÓMICO<br>Y GESTIÓN AMBIENTAL</a></li>
              <li><a (click)="navegarA('portalweb/organo-de-control-institucional', $event);closeOffcanvas();seleccionarItem('controlinstitucional')" [ngClass]="{'bg-click': selectedItem === 'controlinstitucional'}" class="dropdown-item only-cursor">ÓRGANO DE CONTROL<br>INSTITUCIONAL</a></li>
              <li><a (click)="navegarA('portalweb/oficina-general-de-asesoria-juridica', $event);closeOffcanvas();seleccionarItem('asesoriajuridica')" [ngClass]="{'bg-click': selectedItem === 'asesoriajuridica'}" class="dropdown-item only-cursor">OFICINA GENERAL<br>DE ASESORÍA JURÍDICA</a></li>
              <li><a (click)="navegarA('portalweb/oficina-general-de-administracion-y-finanzas', $event);closeOffcanvas();seleccionarItem('administracionfinanzas')" [ngClass]="{'bg-click': selectedItem === 'administracionfinanzas'}" class="dropdown-item only-cursor">OFICINA GENERAL<br>DE ADMINISTRACIÓN<br>Y FINANZAS</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              SERVICIOS
            </a>
            <ul class="dropdown-menu rounded-0 bg-portalweb-ul" aria-labelledby="navbarDropdown">
              <li><a (click)="abriWebExterna('https://webmail.munihuacho.gob.pe/')" class="dropdown-item only-cursor">CORREO<br>INSTITUCIONAL</a></li>
              <li><a (click)="abriWebExterna('http://sisgedo2.munihuacho.gob.pe/sisgedonew/app/main.php')" class="dropdown-item only-cursor">SISGEDO</a></li>
              <li><a (click)="abriWebExterna('https://facilita.gob.pe/t/1779')" class="dropdown-item only-cursor">MESA DE PARTES VIRTUAL</a></li>
              <li><a (click)="abriWebExterna('https://form.123formbuilder.com/5281410')" class="dropdown-item only-cursor">BUZON DE DENUNCIAS<br>O SUGERENCIAS</a></li>
              <li><a (click)="abriWebExterna('https://form.123formbuilder.com/5281412')" class="dropdown-item only-cursor">LIBRO DE<br>RECLAMACIONES</a></li>
              <li><a (click)="abriWebExterna('https://www.gob.pe/institucion/munihuaura/tramites-y-servicios')" class="dropdown-item only-cursor">TRÁMITES</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="https://www.transparencia.gob.pe/enlaces/pte_transparencia_enlaces.aspx?id_entidad=12122#.YaD89tBBw3s" target="_blank" class="nav-link text-white">TRANSPARENCIA</a>
          </li>

          <!-- <li class="nav-item">
            <a (click)="navegarA('portalweb/presupuesto', $event)" class="nav-link text-white only-cursor">PRESUPUESTO</a>
          </li> -->
        </ul>
        <!-- enlaces redes sociales -->

        <div class="d-lg-none align-self-center py-3">
          <a class="px-2" href=""><img class="img-fluid" src="assets/img/facebook.png" alt="facebook"></a>
          <a class="px-2" href=""><img class="img-fluid" src="assets/img/instagram.png" alt="instagram"></a>
          <a class="px-2" href=""><img class="img-fluid" src="assets/img/youtube.png" alt="youtube"></a>
        </div>
      </div>
    </section>
    <!-- OFFCANVAS MAIN CONTAINER END  -->
  </div>

</nav>

