<div class="contenedor-tienda ">
  <div class="row d-flex justify-content-center mb-3 ">
    <img class="img-fluid sidecom-logo" src="assets/img/sidecom-app.png" alt="sidecom-logo">
  </div>
  <div class="row d-flex justify-content-center">
    <img class="img-fluid img-sidecom-app" src="assets/img/sidecom-muni.png" alt="sidecom-app">
  </div>
  <div class="row d-flex justify-content-center" (click)="redireccionSidecom()">
    <img class="img-fluid img-google" src="assets/img/googleplay.png" alt="google-play">
  </div>
</div>
