<slider-pw></slider-pw>
  <slider-portalweb></slider-portalweb>
<div class="contenedor-main-portalweb ">
  <div class=" px-5">
    <h4 class="text-center fw-bold">Oficina General De Administracion Y Finanzas</h4>
    <p>
      La Oficina General de Administración y Finanzas es la encargada de la gestión de los recursos financieros y
      materiales de la organización. Algunas de las funciones principales de la Oficina General de Administración y
      Finanzas son:
    </p>
    <ol>
      <li>Gestión financiera: La Oficina General de Administración y Finanzas se encarga de la gestión financiera de la
        organización, incluyendo la elaboración del presupuesto anual, la planificación financiera a largo plazo, el
        control de gastos y la contabilidad financiera mediante sus subgerencias.</li>
      <li>Gestión de recursos humanos: La Oficina General de Administración y Finanzas también puede ser responsable de
        la gestión de recursos humanos, incluyendo la contratación de personal, la gestión de salarios y beneficios, la
        evaluación del desempeño y la gestión del personal por medio de la Oficina de Gestión del Talento Humano.</li>
      <li>Adquisiciones y compras: La Oficina General de Administración y Finanzas por medio de sus subgerencias puede
        ser responsable de la gestión de compras y adquisiciones, asegurándose de que los bienes y servicios sean
        adquiridos de manera eficiente y económica.</li>
      <li>Gestión de activos: La Oficina General de Administración y Finanzas también es responsable de la gestión de
        los activos de la organización, incluyendo la gestión del inventario, la gestión de la propiedad y la gestión de
        los activos fijos.</li>
    </ol>
    <p>
      En resumen, la Oficina General de Administración y Finanzas es responsable de la gestión de los recursos
      financieros y materiales de la organización, incluyendo la gestión financiera, la gestión de recursos humanos, la
      gestión de compras y adquisiciones y la gestión de activos.
    </p>

  </div>
</div>
