
<main class="container-fluid  main-servicios">
  <h2 class="text-center pb-4 mt-5 fw-bold text-white">Servicios en Línea</h2>
  <div class="row mb-4 pt-2 g-4">
    <div class="col-lg-4 col-md-6 col-sm-6 col-6 " data-bs-toggle="modal" data-bs-target="#modaltributomuni">
      <div class="bg-white p-3 d-flex  flex-column align-items-center custom-border">
        <img src="assets/img/predio.png" alt="Descripción de la imagen 1" class="img-fluid imagen">
        <h3 class="servicio-titulo text-center m-0">Tributo Municipalidad</h3>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-6" data-bs-toggle="modal" data-bs-target="#modalServicioInfraccion">
      <div class="bg-white p-3 d-flex flex-column align-items-center custom-border">
        <img src="assets/img/papeleta-de-infraccion.png" alt="Descripción de la imagen 2" class="img-fluid imagen ">
        <h3 class="servicio-titulo text-center m-0">Papeleta de infracción</h3>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-6" (click)="redireccionMesaDeParte()">
      <div class="bg-white p-3 d-flex flex-column align-items-center custom-border">
        <img src="assets/img/mesa-de-parte.png" alt="Descripción de la imagen 3" class="img-fluid imagen">
        <h3 class="servicio-titulo text-center m-0">Mesa de Partes</h3>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-6" data-bs-toggle="modal" data-bs-target="#modaltransporte">
      <div class="bg-white p-3 d-flex flex-column align-items-center custom-border">
        <img src="assets/img/vehiculo.png" alt="Descripción de la imagen 4" class="img-fluid imagen">
        <h3 class="servicio-titulo text-center m-0">Transporte</h3>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-6" data-bs-toggle="modal" data-bs-target="#modalRegistroCivil">
      <div class="bg-white p-3 d-flex flex-column align-items-center custom-border">
        <img src="assets/img/registro-civil.png" alt="Descripción de la imagen 5" class="img-fluid imagen">
        <h3 class="servicio-titulo text-center m-0">Registro Civil</h3>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-6" (click)="redireccionSisgedo()">
      <div class="bg-white p-3 d-flex flex-column align-items-center custom-border">
        <img src="assets/img/noticias.png" alt="Descripción de la imagen 6" class="img-fluid imagen">
        <h3 class="servicio-titulo text-center m-0">SISGEDO</h3>
      </div>
    </div>
  </div>

  <!-- Modal tributo municipal -->
  <muni-tributomuni></muni-tributomuni>
  <!-- Modal tributo municipal end -->

  <!-- Modal papeleta infraccion-->
  <muni-papeletainfra></muni-papeletainfra>
  <!--Modal papeleta infraccion end-->

  <muni-transporte></muni-transporte>

  <muni-registrocivil></muni-registrocivil>
  <h2 class="text-center mb-5 fw-bold titulo-tienda text-white px-0">¡ Próximamente para dispositivos android !</h2>
  <muni-sidecom></muni-sidecom>

</main>
