<div class="contenedor-main-portalweb ">
  <slider-pw></slider-pw>
  <slider-portalweb></slider-portalweb>
  <div class="px-5">
    <h4 class="text-center fw-bold">OMAPED</h4>
    <p>La OMAPED fue creada el 01 de marzo del 2006 con Ordenanza Municipal Nº 065 – 2006; en la actualidad
      es Sub Gerencia de Atención a la Persona con Discapacidad y Salud Humana; es un servicio que
      la municipalidad brinda a sus vecinos en situación de discapacidad.
    </p>
    <p>En esta oficina las personas podrán registrarse y buscar información sobre las instituciones que
      ofrecen servicios para las personas con diversas discapacidades. También se informará sobre
      actividades que el municipio realice a favor de dichos vecinos.
    </p>
    <p>
      Los municipios como gobiernos locales, tienen la responsabilidad de velar por el bienestar de sus
      ciudadanos. Por tanto, deben facilitar y promover la adecuada concertación entre las necesidades
      de los vecinos con discapacidad y las instituciones que ofrecen servicios, promoviendo así su
      integración.
    </p>
    <p class="fw-bold">MISIÓN</p>
    <p>Lograr que todas las personas con discapacidad tengan derecho a la educación, salud, y a un trabajo
      digno que los haga útiles a la sociedad y a sus familiares, reconociendo sus derechos plenamente,
      adecuando urbanísticamente las ciudades para contribuir a su desarrollo personal, asimismo
      contribuir a la Prevención y Promoción del Cuidado de la Salud Integral de la población más
      vulnerable de nuestra Provincia.
    </p>
    <p class="fw-bold">VISIÓN</p>
    <p>
      En el 2015 la Municipalidad Provincial de Huaura, promoverá en el distrito de Huacho la inclusión y
      la inserción del 10% del total de las personas con discapacidad, en educación, salud, laboral y
      cultural en nuestra sociedad, haciéndolos plenamente activos, y a su vez aplicará Planes y
      Programas que disminuyan la muerte materna, la desnutrición crónica infantil y las enfermedades
      transmisibles y no transmisibles.
    </p>
    <p><span class="fw-bold">Encuéntranos en</span> Guillermo Velásquez Nº 194 -Segundo Piso, distrito de Huacho.</p>
    <p><span class="fw-bold">Horario de atención:</span> De lunes a viernes de 8 am. a 1 pm. y de 2 a 5 pm.</p>
  </div>
</div>
