/*
canvas {
 border: 1px solid #0d6efd;
  border-radius: 0.4em;
}

.color-fondo{
  background: #0d6efd;
}
.captcha-canvas {
  color: white;
}

.input-captcha{
  outline: none;
  width: 147px;
  border:  #0d6efd 2px solid;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-right: none;
  text-align: center;
  font-weight: bold;
  background: #DEE2E6;
  color: #0d6efd;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

.captcha-texto{
  text-align: center;
  font-weight: bold;
  color: #60606F;
  font-size: 12px;
} */
