<main class="container main-auth">
  <div class="row ">
    <div class="col-12 mb-3 d-flex justify-content-end">
      <button type="button" class="btn btn-danger" (click)="cerrarSession()">Finalizar consulta</button>
    </div>
  </div>
  <div>
   <h4 class="text-center fw-bold pb-4 titulo-color ">TRANSPORTE</h4>
  </div>
  <div class="row">
      <div class="col-12 col-lg-6">
        <div class="row">
          <div class="col-12 pb-4">
            <table class="table table-sm table-bordered table-striped table-hover tabla-width">
              <thead>
                <tr>
                  <th colspan="2" class="bg-tabla text-white text-center">PADRÓN</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="col-fijo-1 fw-bold">N° PADRÓN</td>
                  <td>{{dataTransporte[0].nro_padron}}</td>
                </tr>
                <tr>
                  <td class="col-fijo-1 fw-bold">DNI/RUC</td>
                  <td>{{dataTransporte[0].num_doc_identidad}}</td>
                </tr>
                <tr>
                  <td class="col-fijo-1 fw-bold">PROPIETARIO</td>
                  <td>{{dataTransporte[0].propietario}}</td>
                </tr>
                <tr>
                  <td class="col-fijo-1 fw-bold">MODELO</td>
                  <td>{{dataTransporte[0].modelo}}</td>
                </tr>
                <tr>
                  <td class="col-fijo-1 fw-bold">PLACA ACTUAL</td>
                  <td>{{dataTransporte[0].placa_actual}}</td>
                </tr>
                <tr>
                  <td class="col-fijo-1 fw-bold">FECHA DE PADRÓN</td>
                  <td>{{dataTransporte[0].fecha_padron}}</td>
                </tr>
                <tr>
                  <td class="col-fijo-1 fw-bold">CLASE</td>
                  <td>{{dataTransporte[0].clase}}</td>
                </tr>
                <tr>
                  <td class="col-fijo-1 fw-bold">MARCA</td>
                  <td>{{dataTransporte[0].marca}}</td>
                </tr>
                <tr>
                  <td class="col-fijo-1 fw-bold">COLOR</td>
                  <td>{{dataTransporte[0].color}}</td>
                </tr>
                <tr>
                  <td class="col-fijo-1 fw-bold">ESTADO</td>
                  <td>{{dataTransporte[0].estado}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-12">
            <table class="table table-sm table-bordered table-striped table-hover tabla-width">
              <thead>
                <tr>
                  <th colspan="2" class="bg-tabla text-white text-center">ÚLTIMO TRÁMITE</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="col-fijo-1 fw-bold">TARJETA</td>
                  <td>{{dataProcedimiento[0].tarjeta}}</td>
                </tr>
                <tr>
                  <td class="col-fijo-1 fw-bold">N° TARJETA</td>
                  <td>{{dataProcedimiento[0].nro_tarjeta}}</td>
                </tr>
                <tr>
                  <td class="col-fijo-1 fw-bold">FECHA DE INICIO</td>
                  <td>{{dataProcedimiento[0].fecha_inicio}}</td>
                </tr>
                <tr>
                  <td class="col-fijo-1 fw-bold">FECHA DE CADUCIDAD</td>
                  <td>{{dataProcedimiento[0].fecha_caducidad}}</td>
                </tr>
                <tr>
                  <td class="col-fijo-1 fw-bold">DÍAS VENCIDOS</td>
                  <td>{{dataProcedimiento[0].dias_vencidos}}</td>
                </tr>
                <tr>
                  <td class="col-fijo-1 fw-bold">TRAMITE</td>
                  <td>{{dataProcedimiento[0].tramite}}</td>
                </tr>
                <tr>
                  <td class="col-fijo-1 fw-bold">N° EXPEDIENTE</td>
                  <td>{{dataProcedimiento[0].expediente_nro}}</td>
                </tr>
                <tr>
                  <td class="col-fijo-1 fw-bold">EMPRESA</td>
                  <td>{{dataProcedimiento[0].empresa}}</td>
                </tr>
                <tr>
                  <td class="col-fijo-1 fw-bold">SERVICIO</td>
                  <td>{{dataProcedimiento[0].servicio}}</td>
                </tr>
                <tr>
                  <td class="col-fijo-1 fw-bold">ESTADO</td>
                  <td>{{dataProcedimiento[0].estado}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6 pb-4 pb-sm-0 d-flex justify-content-center">
        <img src="assets/img/obras-informacion.jpg" class="img-fluid img-informacion border border-5" alt="img-informacion">
      </div>
  </div>

  <h4 class="text-center mb-5 fw-bold px-0 mt-3">¡Ahora también disponible para dispositivos Android!</h4>
  <div class="row mx-0">
    <div class="d-flex justify-content-center align-items-center py-4">
      <img class="img-fluid escudo px-2" src="assets/img/escudo.png" alt="escudo-muni">
      <span class=" fw-bold  fs-3 ">SIDECOM</span>
    </div>
  </div>
  <muni-sidecom></muni-sidecom>
</main>
