<slider-pw></slider-pw>
  <slider-portalweb></slider-portalweb>
<div class="contenedor-main-portalweb ">

  <div class="px-5">
    <h4 class="text-center fw-bold">ULE</h4>
    <p class="fw-bold">IMPORTANCIA DE LA UNIDAD LOCAL DE EMPADRONAMIENTO</p>
    <p>La Unidad Local de Empadronamiento (ULE) es la responsable de recibir e impulsar el trámite de las solicitudes de CSE, ante la DOF, y de ser el caso recoger la información de los hogares solicitantes de su ámbito local, de acuerdo con los documentos técnicos emitidos para el cumplimiento de dicho fin. Estas unidades se encuentran constituidas en las municipalidades distritales y provinciales.</p>
    <p class="fw-bold">CLASIFICACION SOCIOECONOMICA</p>
    <p>Es una medida de bienestar del hogar. La CSE tiene una vigencia de tres (3) años y se determina con información del hogar que se encuentra en la BDA, así como aquella que es recolectada mediante instrumentos aprobados por el MIDIS.</p>
    <ul>
      <li>¿Cómo se relaciona la CSE con los Intervenciones Públicas Focalizadas del Estado?</li>
    </ul>
    <p>La clasificación socioeconómica (CSE), es solo uno de los requisitos que establecen las Intervenciones Públicas Focalizadas del Estado para la afiliación de sus usuarios y usuarias</p>
    <p class="fw-bold">MISIÓN</p>
    <p>Focalizar a la población Huachana priorizando a la población más vulnerable para facilitar a través de la clasificación socioeconómica su afiliación a los programas sociales y mejorar su calidad de vida</p>
    <p class="fw-bold">VISIÓN</p>
    <p>Seguir siendo una Unidad Local de Empadronamiento (ULE) organizada y capacitada al servicio de la población Huachana.</p>
    <p class="fw-bold">OBJETIVO</p>
    <p>Es objetivo fundamental de esta área es que a partir de un adecuado empadronamiento los hogares más necesitados del Distrito puedan postular y acceder a los diferentes programas sociales.</p>
  </div>
</div>
