<div class="contenedor-main-portalweb ">
  <portalweb-titulo-img titulo="DEMUNA"></portalweb-titulo-img>
  <div class="my-5 px-5">
    <p class="fw-bold">INFORMACIÓN</p>
    <P>
      Desarrollar un sistema de atención, prevención, promoción y vigilancia ante los fenómenos
      sociales que afecten los derechos fundamentales de la mujer, adulto mayor, niñas, niños y
      adolescentes, para que puedan ejercer la defensa de sus derechos y el cumplimiento de sus
      deberes dentro de la sociedad.
    </P>
    <p class="fw-bold text-center">SERVICIOS</p>
    <ul>
      <li class="fw-bold">CONCILIACION EXTRAJUDICIAL</li>
      <p>Mecanismo alternativo orientado a la solución de determinados conflictos familiares. Para esto
        se cuenta con la participación del defensor, quien promueve un acuerdo voluntario entre las
        partes, atendiendo al principio del Interés Superior de la niña, niño o adolescente y dentro
        de lo que la Ley permite.
      </p>
      <ol>
        <li><span class="fw-bold">Pensión de alimentos:</span> Es todo lo necesario para el sustento; habitación; vestido; educación; instrucción y capacitación para el trabajo; asistencia médica; recreación de la niña, niño y adolescente; así como los gastos embarazo de la madre, desde la concepción hasta la etapa de post-parto.</li>
        <li><span class="fw-bold">Régimen de Visitas:</span> El padre o la madre que no vive con sus hijos, tiene derecho a visitarlos. Los días y horas de visita se establecerán previo acuerdo de ambas partes.</li>
        <li><span class="fw-bold">Tenencia:</span> Es un derecho de la patria potestad, por el cual uno de los progenitores, el padre o la madre, asume el cuidado de la niña, niño o adolescente, y vive con él. La Defensoría interviene cuando dichos padres están separados y desean determinar de común acuerdo, quien asumirá la responsabilidad de criar al niño, niña o adolescente.</li>
      </ol>
      <p><span class="fw-bold">Importante:</span> Se concilia siempre y cuando no existan procesos judiciales en trámite, ni concluidos sobre el mismo caso, ni cuando constituya falta o delito.</p>
      <li class="fw-bold">ACTAS DE COMPROMISO</li>
      <p>Es el acto mediante el cual una o más personas son obligadas a restituir los derechos de los niños, niñas y adolescente o garantizar su cumplimiento. Siempre y cuando, los hechos no constituyan falta o delito.</p>
      <ol>
        <li><span class="fw-bold">Reconocimiento voluntario de filiación extrajudicial: </span>Es el reconocimiento voluntario del progenitor o progenitora ante los Registros Civiles de un niño o niña como su hijo. La filiación de un hijo o hija, sólo surge a partir de la firma en la partida o acta de nacimiento por parte del padre o la madre, ya sea en el momento de la inscripción o en acto posterior.</li>
        <li><span class="fw-bold">Normas Comportamiento:</span>Son reglas o pautas que están orientadas a resguardar los derechos y obligaciones de las niñas, niños y adolescentes. Estas normas pueden aplicarse tanto a los padres como a las niñas, niños y adolescentes, siempre que no impliquen violencia. A través de las normas de conducta se promueve que la o las partes asuman obligaciones o se mejoren las relaciones personales.</li>
      </ol>
      <li class="fw-bold">ACCIONES ADMINISTRATIVAS</li>
      <ol>
        <li><span class="fw-bold">Derecho a la identidad:</span> El niño y el adolescente tienen derecho a la identidad, lo que incluye el derecho a tener un nombre, a adquirir una nacionalidad y, en la medida de lo posible, a conocer a sus padres y llevar sus apellidos. Cuando el defensor conozca que la imagen o identidad de un niño, niña o adolescente involucrado como víctima, autor, partícipe o testigo de una infracción, falta o delito; ha sido revelada a través de los medios de comunicación, deberá dar a conocer la situación a las autoridades competentes.</li>
        <li><span class="fw-bold">Derecho a la educación:</span> El niño y el adolescente tienen derecho a una educación integral y de calidad. El defensor deberá velar porque éste sea matriculado en una Institución Educativa y en el grado que según su edad y la Ley le corresponda. Asimismo, deberá cuidar que se efectúe en el plazo de inicio del año escolar.  Cabe resaltar que la educación es un derecho fundamental de la persona y de la sociedad y que el Estado está en el deber garantizar el ejercicio de este derecho y la universalización de la educación básica.</li>
        <li><span class="fw-bold">Inscripción de Nacimiento:</span> Es el acto administrativo que se realiza ante la instancia de la Oficina de Registro de Estado Civil del Municipio o la Oficina Registral RENIEC, mediante el cual el Estado reconoce legalmente la existencia de una persona. La inscripción del nacimiento puede darse de manera oportuna o en forma extemporánea.Sólo en caso de abandono, orfandad, ausencia de familiares o desconocimiento de los padres, el defensor puede solicitar dicha inscripción.</li>
      </ol>
      <li class="fw-bold">OTROS</li>
      <ol>
        <li>Asesoría legal.</li>
        <li>Orientación.</li>
        <li>Consejería.</li>
        <li>Actividades preventivas.</li>
        <li>Actividades promocionales.</li>
        <li>Charlas y capacitación.</li>
        <li>Apoyo social.</li>
        <li>Denuncias y otros</li>
      </ol>
    </ul>
  </div>
</div>
