<div class="contenedor-main-portalweb ">
  <portalweb-titulo-img titulo="Organo De Control Institucional"></portalweb-titulo-img>
  <div class="px-5 my-5">
    <div class="d-flex justify-content-center">
      <img class="img-fluid" src="assets/img/control_interno.jpg" alt="presupuesto-2025">
    </div>
    <ol>
      <li class="fw-bold mt-5">Nosotros</li>
      <p>
        El Órgano de Control Institucional, es el órgano de control interno integrante del Sistema Nacional de Control,
        encargado de realizar el control a las unidades orgánicas de la Municipalidad Provincial de Huaura, así como de
        sus órganos desconcentrados y descentralizados que no cuenten con su propio órgano de control conforme a la Ley
        Orgánica del Sistema Nacional de Control y de la Contraloría General de la República, el Reglamento de los
        Órganos de Control Institucional aprobado por Resolución de Contraloría y demás normas reglamentarias,
        directivas y lineamientos que disponga la Contraloría General de la República.
      </p>
      <li class="fw-bold">Funciones</li>
      <p>Ejercer el control interno posterior a los actos, procedimientos administrativos de la Municipalidad, sobre la
        base de los lineamientos y cumplimiento del Plan Anual de Control, a que se refiere al artículo 7° de la Ley, y
        el control externo al que se refiere el artículo 8° de la Ley, por encargo de la Contraloría Genera.Verificar el
        cumplimiento de las disposiciones legales y normativas internas aplicables a la Municipalidad.Fomentar, ejecutar
        y evaluar el Plan Anual de Control previamente aprobado, en coordinación con la Contraloría General de la
        República.</p>
    </ol>

  </div>
</div>
