<div class="contenedor-main-portalweb">
  <slider-pw></slider-pw>
  <slider-portalweb></slider-portalweb>
  <div class="px-5">
    <h4 class="text-center fw-bold">Presupuesto participativo 2025</h4>
    <div class="d-flex justify-content-center">
      <img class="img-fluid" src="assets/img/presupuesto2025.jpeg" alt="presupuesto-2025">
    </div>
    <p class="pt-4">La Municipalidad Provincial de Huaura ya inició el Proceso de Presupuesto Participativo
      Basado en Resultados 2025, un instrumento de política y de gestión, a través del cual las
      autoridades, así como las organizaciones de la población debidamente representadas, definen en
      conjunto, cómo y a qué se van a orientar los recursos, los cuales están directamente vinculados a
      la visión y objetivos del Plan de Desarrollo Concertado.</p>
      <div class="d-flex justify-content-center mb-3">
        <img class="img-fluid" src="assets/img/presupuesto-info.jpg" alt="presupuesto-2025">
      </div>
    <p class="fw-bold">REQUISITOS PARA LA INSCRIPCIÓN EN EL REGISTRO DE AGENTES PARTICIPANTES:</p>
    <p>Los representantes de la Sociedad Civil para ser considerado como Agente Participante e inscribirse
      en el “Libro de Agentes Participantes del Proceso del Presupuesto Participativo para el Año 2025”
      deberán presentar, su solicitud acompañada de los siguientes requisitos:</p>
      <ol>
        <li>Copia fedateada del DNI del representante elegido en el que conste su residencia en la Provincia de Huaura.</li>
        <li>Copia fedateada del Acta de Asamblea donde se le designa coma representante de su institución al Presupuesto Participativo 2025.</li>
        <li>Copia fedateada actualizada de la Resolución que reconoce al Consejo Directivo Vigente. Los Agentes Participantes acreditados deberán representar a organizaciones de la Sociedad Civil cuya antigüedad no deberá ser menor a 1 año.</li>
        <li>En el caso de representantes de las instituciones públicas con actividad en el ámbito de la Provincial de Huaura, bastará la presentación del documento otorgado por el titular en el que acredite su representación.</li>
        <li>Formato para el Registro del Agente Participante, con carácter de Declaración Jurada.</li>
      </ol>
    <p>Para poder hacer el registro de su <span class="fw-bold">FICHA DE INSCRIPCION COMO AGENTE PARTICIPANTE</span> puede acceder a los siguientes enlaces:</p>
  <a class="text-primary" href="https://forms.gle/Y9njDhuJML1FfsWn6" target="_blank">Anexo 2: FICHA DE INSCRIPCION</a>
  </div>

</div>
