@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import 'ngx-toastr/toastr';

:root {
  --color-primario: #3da5e2;
  --color-secundario: #00426a;
  --color-terciario: #ffffff;
  --color-clima: #EC6E4C;
  --color-portalwebtext: #6C757D;
}

body {

  font-family: 'Open Sans', sans-serif;

}

#map { height: 250px; width: 500px;}

@media (max-width: 1100px) {
  #map { height: 250px; width: 400px;}
}

@media (max-width: 900px) {
  #map { height: 225px; width: 350px;}
}

/* nav  */
a {
  text-decoration: none;
}

header .nav {
  min-height: 80px;
  background: var(--color-terciario);
  /* el contenido sobreante lo elimines */
  overflow: hidden;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.nav {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  z-index: 1000;
  top: 0; /* Asegura que el menú se mantenga en la parte superior */
}


header .menu .c1,
header .menu .c2,
header .menu .c3 {
  background: var(--color-primario);
  cursor: pointer;
  height: 78px;
  transition: transform 0.3s;

}

header .menu .c1:hover,
header .menu .c2:hover,
header .menu .c3:hover {
  background: var(--color-secundario);
  transform: scale(1.03);
}

.icono-svg{
  color: var(--color-terciario);
}

/* nav end */

/* slider  */

.slider {
  margin-top: 80px;
}

.carousel-item img {
  filter: brightness(60%); /* Ajusta el valor aquí (menor para más oscuro) */
}

@media (max-width: 767px) {
  .slider {
    margin-top: 153px;
  }
}
/* slider end */


/* main */

.main-servicios{
  background: var(--color-primario);
  padding-bottom: 30px;
  padding-left: 80px;
  padding-right: 80px;
}
.titulo{
  padding-top: 30px;
  font-size: 25px;
  color: #fff;
  border-bottom:3px solid #0086cf;
}

.custom-border {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}

.custom-border{
  transition: transform 0.3s, background-color 0.3s;
  cursor: pointer;
}

.custom-border:hover {
  transform: scale(1.03);
}

.servicio-titulo{
  font-size: 15px;
}

.custom-border:hover .servicio-titulo{
  padding-bottom: 5px;
 border-bottom:2px solid var(--color-secundario);
}

/* main end */

/* footer */
.footer-muni{
  padding-top: 100px;

  color: var(--color-terciario);
}
.bg-footer-sidecom{
  background: var(--color-secundario);
}
.titulo-footer-principal{
  font-size: 18px;
  font-weight: bold;
}

.titulo-footer{
  font-size: 15px;
}

.contenedor-titulo-principal{
  border-bottom:2px solid var(--color-terciario);
}

.texto-footer{
  font-size: 13px;
}
/* footer end */



/* ------------------------- */


 /*Modal*/
 .img-modal {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}

/* --------------------------- */

/* main auth */

.main-auth{
  margin-top: 78px;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (max-width: 767px) {
  .main-auth{
    margin-top: 155px;
  }
}


@keyframes heartbeat {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.2);
  }
  100% {
      transform: scale(1);
  }
}

.denuncia-ya {
  animation: heartbeat 2s infinite;
}

.tbody-td{
 margin-top: 8px;
}

/* anuncio */
@media (max-width: 991px) {
  .ocultar-anuncio{
    display: none;
  }
}

/* end anuncio */


@media (max-width: 575px) {

  .titulo-nav{
    font-size: 15px;
  }
  .titulo{
    font-size: 15px;
  }
  .imagen{
    height: 55px;
  }
  .servicio-titulo{
    font-size: 10px;
  }
  .main-servicios{
    padding-right: 50px;
    padding-left: 50px;
  }

  .titulo-footer-principal{
    font-size: 14px;
  }

  .texto-footer{
    font-size: 12px;
  }

  .titulo-footer{
    font-size: 13px;
  }

  svg{
    height: 30px;
  }

  .img-footer{
    height: 40px;
  }

}

@media (max-width: 406px) {
  .main-servicios{
    padding-right: 30px;
    padding-left: 30px;
  }
  .imagen{
    height: 45px;
  }
}

@media (max-width: 366px) {
  .titulo-nav{
    font-size: 14px;
  }
  .titulo{
    font-size: 14px;
  }
  .servicio-titulo{
    font-size: 8px;
  }
  .main-servicios{
    padding-right: 20px;
    padding-left: 20px;
  }
  .imagen{
    height: 45px;
  }
}

@media (max-width: 767px) {
  .main-top{
    margin-top: 165px;
  }
}
@media (max-width: 508px) {
  .imagen-user{
    height: 150px;
    width: 150px;
  }
}

.redireccion-pointer{
  cursor: pointer;
}

.item-pagination{
  cursor: pointer;
}

.redes:hover{
  transform: scale(1.05);
}


.titulo-codigo{
font-family:'Franklin Gothic Medium'
}


.titulo-tienda{
  margin-top: 4rem;
  padding-top: 2rem;
  margin-bottom: 2rem;
  border-top: 2px solid white;
}




canvas {
  border: 1px solid #0d6efd;
   border-radius: 0.4em;
 }

 .color-fondo{
   background: #0d6efd;
 }
 .captcha-canvas {
   color: white;
 }

 .input-captcha{
   outline: none;
   width: 147px;
   border:  #0d6efd 2px solid;
   border-top-left-radius: 7px;
   border-bottom-left-radius: 7px;
   border-right: none;
   text-align: center;
   font-weight: bold;
   background: var(--color-primario);
   color: #ffffff;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 17px;
 }

 .captcha-texto{
   text-align: center;
   font-weight: bold;
   color: #60606F;
   font-size: 12px;
 }

 .input-formulario{
  background: var(--color-primario) !important;
  text-align: center;
  color: #ffffff !important;
  font-weight: bold !important;
 }

 .input-formulario::placeholder{
  text-align: center;
  color: #ffffff !important;
 }

 .app-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;

 }
 .app-container-servicios{
  background-color: var(--color-primario);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
 }

 .footer-componente{
  margin-top: auto;
 }


.img-google {
  max-width: 280px;
  max-height: 86px;
  transition: transform 0.3s;
}

.img-google:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.sidecom-logo{
  max-width: 230px;
  max-height: 66px;
}

.img-sidecom-app{
  max-height: 476px;
  max-width: 666px;
}

.img-informacion{
  max-width: 350px;
  max-height: 550px;
}

.text-check{
  color: #3FB5CF;
}


iframe {
  width: 100%;
  height: 100vh;
  border: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*--------portalweb-----------*/

/*gaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
.contenedor-main-portalweb{
  background-color: var(--color-terciario);
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: var(--color-portalwebtext);
}

.espacio-icon{
  padding-left: 10px;
}

.box-ciudad{
  padding-left: 400px;
  padding-right: 400px;
}

.titulo-portalweb{
  padding-bottom: 10px;
  border-bottom: 2px solid #0e2238;
}

@media (max-width: 1600px) {
  .box-ciudad {
    padding-left: 300px;
    padding-right: 300px;
  }
}

@media (max-width: 1440px) {
  .box-ciudad {
    padding-left: 200px;
    padding-right: 200px;
  }
}

@media (max-width: 1240px) {
  .box-ciudad {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 1040px) {
  .box-ciudad {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 940px) {
  .box-ciudad {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 880px) {
  .box-ciudad {
    padding-left: 2px;
    padding-right: 2px;
  }
}
/* aqui */
/* end aqui */


.bg-tabla{
  background-color: var(--color-secundario) !important;
}


.pie-img{
  background: rgb(0,66,106);
background: linear-gradient(90deg, rgba(31,85,116,1) 24%, rgba(61,165,226,1) 72%);
}




.image-overlay {
  position: relative;
}

.image-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 66, 106, 0.90); /* El último valor es la opacidad (0.7) */
  z-index: 1; /* Para asegurarse de que la superposición esté por encima de la imagen pero debajo del texto */
}

.position-absolute {
  z-index: 2;
}

.cursor-pointer{
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  display: inline-block;
}


.cursor-pointer:hover {
  transform: scale(1.2) rotate(360deg);

}

/* tu-componente.component.css */
#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none; /* Inicialmente oculto */
  cursor: pointer;
  transition: transform 0.5s ease-in-out;

}

#scrollToTopBtn.show {
  display: block; /* Mostrar cuando es necesario */
}

#scrollToTopBtn:hover{
  transform: scale(1.2)
}
.only-cursor{
  cursor: pointer;
}





.dropdown:hover>.dropdown-menu,
.dropend:hover>.dropdown-menu {
  display: block;
  margin-top: .125em;
}

.bg-portalweb-ul{
background-color: #3da5e2;
}
@media screen and (max-width: 699px) {

  .dropdown:hover>.dropdown-menu,
  .dropend:hover>.dropdown-menu {

    margin-left: .125em;
  }
}

@media (min-width: 991px) {
  .dropend:hover>.dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: .125em;

  }


}

nav,
.offcanvas {
  background-color: #3da5e2;
}

.dropdown-item{
  color: #ffffff;
}

.dropdown-item:hover{
  background-color: #68B5F1 ;
  color: #ffffff ;
}



.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}


.nav-portalweb{
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
}

.contenedor-titulo-img{
  margin-top: 56px;
}

@media (max-width: 445px) {
  .tabla-width {
    font-size: 10px;
  }
  .titulo-img-portalweb{
    font-size: 18px;
  }
  .siguenos-portalweb{
    font-size: 12px;
  }


}


@media (max-width: 991px) {
  .nav-link{
    padding-left: 10px;
  }
  .nav-item>li{
    padding-left: 13px;
  }
}





