<slider-pw></slider-pw>
  <slider-portalweb></slider-portalweb>
<div class="contenedor-main-portalweb ">

  <div class="px-5">
    <h4 class="text-center fw-bold">Complementación alimentaria</h4>
    <p>El Programa de Complementación Alimentaria tiene como objetivo otorgar un complemento alimentario a la población en situación de pobreza, riesgo y vulnerabilidad, a través de las organizaciones sociales de base constituidas formalmente, instituciones públicas y privadas sin fines de lucro.</p>
    <p class="fw-bold">PROGRAMA DE COMPLEMENTACIÓN ALIMENTARIA(P.C.A.)</p>
    <p>Conjunto de modalidades de atención con recursos públicos del estado que tienen por objetivo otorgar un complemento alimentario a la población en situación de pobreza o pobreza extrema, así como a grupos vulnerables constituidos por niñas, niños, personas con TBC, adultos mayores, personas con discapacidad en situación de riesgo moral y abandono, y víctimas de violencia familiar y política.</p>
    <p>Esta modalidad mejora las condiciones de acceso a la alimentación, brindando un complemento Alimentario a las personas con bajos recursos y vulnerabilidad, constituyéndose los comedores en agentes de cambio, con carácter comunitario, de desempeño dinámico y desarrollo organizacional.</p>
    <p class="fw-bold">CANASTA ALIMENTARIA DEL P.C.A.</p>
    <p>Es el conjunto de alimentos que conforman las raciones alimentarias de los programas, sustentada en calorías, proteínas, grasas que permiten brindar una preparación nutricionalmente adecuada. La canasta alimentaria se establece considerando: Criterios nutricionales, producción local y/o de la región, hábitos de consumo oferta a costo competitivo; impulsando el desarrollo local.</p>
  </div>
</div>
