<main class="container main-auth">
  <div class="row">
    <div class="col-12 d-flex justify-content-end pb-4">
      <button type="button" class="btn btn-danger" (click)="cerrarSession()">
        Finalizar consulta
      </button>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <p class="text-center fw-bold">DATOS PERSONALES</p>
        <div class="row">
          <div class="col-6 pt-3">
            <div class="d-flex justify-content-end px-4">
              <img src="assets/img/user.png" alt="user" class="imagen-user">
            </div>
          </div>
          <div class="col-6 py-4">
            <p  class="my-1"><span class="fw-bold">N° DOC: </span>{{ contriUser[0].conpa}}</p>
            <p class="my-1"><span class="fw-bold">NOMBRE: </span>{{ contriUser[0].nomb}}</p>
            <p class="my-1"><span class="fw-bold">INSOLUTO: </span>S/{{metodoAuth.formatoMoneda(totalInsoluto())}}</p>
            <p class="my-1"><span class="fw-bold">DERECHO DE EMISIÓN:
              </span>S/{{metodoAuth.formatoMoneda(totalDEmision())}}</p>
            <p class="my-1"><span class="fw-bold">INTERESES: </span>S/{{metodoAuth.formatoMoneda(totalIntereses())}}</p>
             <p *ngIf=" dataFracci[0]?.estaamni==true" class="my-1"><span class="fw-bold">AMNISTÍA: </span>S/{{metodoAuth.formatoMoneda(totalAmnistia())}}</p>

            <p class="my-1"><span class="fw-bold">TOTAL DEUDA: </span>S/{{metodoAuth.formatoMoneda(totalDeuda())}}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 px-0 ocultar-anuncio">
        <p class="text-center fw-bold titulo-cuentas-municipales text-danger mb-2">Puedes realizar tus pagos - CUENTAS
          MUNICIPALES</p>
        <div class="row mx-0 contenedor-cuentas">
          <div class="col-12">
            <div class="d-flex justify-content-center">
              <img class="img-fluid img-banconacion" src="assets/img/bancodelanacion.jpg" alt="banco-de-la-nacion">
            </div>
            <p class="text-center fw-bold my-0 titulo-cuentas">PREDIOS Y ARBITRIOS</p>
            <p class="text-center my-0"><span class="fw-bold span-cuentas">Cta:</span> 00321010504</p>
            <p class="text-center my-0"><span class="fw-bold span-cuentas">CCI:</span> 018-321-000321010504-09</p>
          </div>
          <div class="col-12 mt-2">
            <p class="fw-bold my-0 texto-ajustado">
              Enviar el recibo escaneado, bajo que concepto y año, está realizando el pago
              ( Impuesto Predial y Arbitrios Municipales) así como los datos del titular de
              la deuda (nombres completos, código de contribuyente, DNI, etc ) al correo:
            </p>
          </div>
          <div class="col-6">
            <p class="text-center fw-bold my-0"><img class="px-2" src="assets/img/correo.png"
                alt="correo">gestiondecobranza@munihuacho.gob.pe</p>
          </div>
          <div class="col-6">
            <p class="text-center fw-bold my-0 bg-whatsapp"><a href="https://wa.me/+51972237404" target="_blank"><img
              class="px-2" src="assets/img/whatsapp.png" alt="whatsapp">WhatsApp</a></p>
            <p class="text-center fw-bold my-0">972 237 404</p>
          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="row pt-5 " *ngIf="!debe">
    <h4 class="text-center fw-bold px-0 mt-3 text-check">USTED ESTÁ AL DÍA</h4>
    <div class="col-12 d-flex justify-content-center">
      <img class="img-fluid" src="assets/img/check.gif" alt="gif-check" style="width: 600px; height: 400px;">
    </div>
  </div>

  <div class="row mt-4" *ngIf="debe">
    <div class="col-12 col-lg-7">
      <div class="mb-3 contenedor-table">

        <div class="input-group mb-3 ">
          <span class="input-group-text bg-primary text-white fw-bold" id="basic-addon1"> Buscar </span>
          <input type="text" class="form-control border-3" [(ngModel)]="searchTerm" placeholder="Término de búsqueda"
            aria-label="Término de búsqueda" aria-describedby="basic-addon1" (input)="filterData()"
            (click)="onInputClick()" (focus)="onInputFocus()">
        </div>
        <div class="table-responsive">
          <table class="table table-sm table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th class="bg-primary text-white">Año</th>
                <th class="bg-primary text-white">Cuota</th>
                <th class="bg-primary text-white">Insoluto</th>
                <th class="bg-primary text-white">D. Emis</th>
                <th class="bg-primary text-white">Intereses</th>
               <th *ngIf="dataFracci[0]?.estaamni==true" class="bg-primary text-white">Amnistía</th>
                <th class="bg-primary text-white">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let fraccionamiento of filteredData.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage); let i = index">
                <td>{{ fraccionamiento.aini }}</td>
                <td>{{ fraccionamiento.peini }}</td>
                <td>S/{{metodoAuth.formatoMoneda(fraccionamiento.vdeuda)}}</td>
                <td>S/{{metodoAuth.formatoMoneda(fraccionamiento.vderemi)}}</td>
                <td>S/{{metodoAuth.formatoMoneda(fraccionamiento.vinte)}}</td>
                <td *ngIf="dataFracci[0]?.estaamni==true">S/{{metodoAuth.formatoMoneda(fraccionamiento.vtotalamn)}}</td>
                <td>S/{{metodoAuth.formatoMoneda(fraccionamiento.votros)}}</td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>
      <div class="pb-3 overflow-auto">
        <nav class="Page navigation example">
          <ul class="pagination pb-0 mb-0 bg-white">
            <li class="page-item item-pagination" *ngFor="let page of pages" [class.active]="page === currentPage">
              <a class="page-link" (click)="setCurrentPage(page)">{{ page }}</a>
            </li>
          </ul>
        </nav>

      </div>
    </div>
    <div class="col-12 col-lg-5 d-flex justify-content-center mt-4 mt-lg-0">
      <img src="assets/img/obras-informacion.jpg" class="img-fluid img-informacion border border-5"
        alt="obras-informacion">
    </div>
  </div>

  <h4 class="text-center mb-5 fw-bold px-0 mt-5">¡Ahora también disponible para dispositivos Android!</h4>
  <div class="row mx-0">
    <div class="d-flex justify-content-center align-items-center py-4">
      <img class="img-fluid escudo px-2" src="assets/img/escudo.png" alt="escudo-muni">
      <span class=" fw-bold  fs-3 ">SIDECOM</span>
    </div>
  </div>

  <muni-sidecom></muni-sidecom>
</main>
